legend {

    .legend-markdown-content {
        h2,
        h2:first-child {
            font-size: 1.25em;
            font-variant: small-caps;
            margin: 0 0 0.5em;
        }
    
        h3 {
            font-size: 1.125em;
            font-style: italic;
            font-weight: bold;
            margin: 2em 0 0.5em;
        }
    
        h4 {
            font-size: 1.125em;
            font-style: italic;
            margin: 2em 0 0.5em;
        }

        h5 {
            font-size: 1em;
            font-weight: bold;
            margin: 2em 0 0.5em;
        }

        h6 {
            font-size: 1em;
            font-style: italic;
            margin: 2em 0 0.5em;
        }

        table {
            margin: 1em 0;
        }

        table td {
            line-height: 1.25em;
        }

        table.first-col-highlight {
            td:first-child {
                font-weight: bold;
            }
        }

        span.extVariantsTrigger {
            cursor: default;
        }
    }

}

