<div *ngIf="userSettingsService.isDesktop() && !userSettingsService.isTablet() && !userSettingsService.isMobile()" style="position: relative;">
    <a (click)="home()" target="_blank" href="http://www.sls.fi/" float-left>
        <img class="logo" src="assets/images/logo.svg">
    </a>
</div>
<div *ngIf="userSettingsService.isMobile() || userSettingsService.isTablet()" style="position: relative;">   
    <a *ngIf="!userSettingsService.isTablet()" (click)="home()" href="http://www.sls.fi/" float-left>
        <img class="logo" src="assets/images/logo.svg">
    </a>
    <a *ngIf="userSettingsService.isTablet()" (click)="home()" href="http://www.sls.fi/" float-right>
        <img class="logo" src="assets/images/logo.svg">
    </a>
</div>
