<!--
  Generated template for the MediaCollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{mediaTitle}} - {{mediaCollection.length}} {{"photos" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="info">
    <h1>{{mediaTitle}}</h1>
    <p>{{mediaDescription}}</p>
  </div>
  <div class="filters">
    <ion-item class="tagSelect" *ngIf="galleryTags.length > 0">
      <ion-label>{{"tags" | translate}}</ion-label>
      <ion-select [(ngModel)]="tagModel" class="tagSelect" (ngModelChange)="filterCollectionsByTag(tagModel)">
        <ion-option selected value=""></ion-option>
        <ion-option *ngFor="let tag of galleryTags" value="{{tag.name}}">{{tag.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="locationSelect" *ngIf="galleryLocations.length > 0">
      <ion-label>{{"locations" | translate}}</ion-label>
      <ion-select [(ngModel)]="locationModel" class="locationSelect"
        (ngModelChange)="filterCollectionsByLocation(locationModel)">
        <ion-option selected value=""></ion-option>
        <ion-option *ngFor="let location of galleryLocations" value="{{location.name}}">{{location.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="subjectSelect" *ngIf="gallerySubjects.length > 0">
      <ion-label>{{"subjects" | translate}}</ion-label>
      <ion-select [(ngModel)]="subjectModel" class="subjectSelect"
        (ngModelChange)="filterCollectionsBySubject(subjectModel)">
        <ion-option selected value=""></ion-option>
        <ion-option *ngFor="let subject of gallerySubjects" value="{{subject.name}}">{{subject.name}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let image of mediaCollection; index as i" col-md-4 col-sm-12 col-lg-3>
        <ion-card *ngIf="mediaCollectionId!=undefined" (click)="openImage(i, mediaCollectionId)">
          <div [ngClass]="{'remove-scan-details' : removeScanDetails > 0}">
            <img src="{{apiEndPoint}}/{{projectMachineName}}/gallery/get/{{mediaCollectionId}}/{{asThumb(image.front)}}"/>
          </div>
          <ion-card-content>
            <div *ngIf="image.media_title_translation" class="img-desc title">
              {{image.media_title_translation}}
            </div>
            <div *ngIf="image.subject_name" class="img-desc subject_name">
              {{image.subject_name}}
            </div>
            <div *ngIf="image.description" class="img-desc" [innerHTML]="image.description">
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="mediaCollectionId==undefined" (click)="openImage(i, image.mediaCollectionId)">
          <div [ngClass]="{'remove-scan-details' : removeScanDetails > 0}">
            <img src="{{apiEndPoint}}/{{projectMachineName}}/gallery/get/{{image.mediaCollectionId}}/{{asThumb(image.front)}}"/>
          </div>
          <ion-card-content>
            <div *ngIf="image.description" class="img-desc">
              {{image.description}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
