read-popover-page {
	.text-button {
		justify-content: center;
		background: transparent;
	}
	.text-button:hover {
		background-color: rgba(color($colors, primary), 0.2);
		border-radius: 3px;
	}

	.text-xsmall {
		font-size: 0.75rem !important;
	}

	.text-small {
		font-size: 1rem !important;
	}

	.text-medium {
		font-size: 1.25rem !important;
	}

	.text-large {
		font-size: 1.5rem !important;
	}

	.text-xlarge {
		font-size: 1.75rem !important;
	}

	ion-list-header {
		font-weight: bold;
		margin-bottom: 0 !important;
		min-height: 1rem !important;
	}
	ion-item ion-label.label {
		line-height: 1.5;
		margin: 9px 8px 9px 0;
	}

	ion-list:last-child {
		margin-bottom: 8px;
	}

	.read-popover-header ion-label {
		display: flex;
		justify-content: space-between;
		margin-top: 2px;
	}

	.close {
		font-size: 1rem;
		position: absolute;
		top: 0.5rem;
		right: 0.75rem;
		cursor: pointer;
	}

	.selected-font-size,
	.selected-font-size:hover {
		background-color: color($colors, primary);
		color: #fff;
		border-radius: $corner-roundness;
	}

	.appearence {
		margin-top: 0.8rem;
	}

	.asterix {
		height: 0.75rem;
		padding-right: 0.125rem;
	}

	.show_personInfo {
		display: inline;
		background-color: $persName-color;
	}
	.show_workInfo {
		display: inline;
		background-color: $workTitle-color;
	}
	.show_placeInfo {
		display: inline;
		background-color: $placeName-color;
	}
	.show_abbreviations {
		display: inline;
		background-color: $abbreviations-color;
	}
	.show_changesInfo {
		display: inline;
		background-color: $changes-color;
	}
}

.popover-content{
	overflow-x: hidden !important;
}
