read-popover-page {
	.text-button {
		text-align: center;
		background: transparent;
		margin-left: 43%;
	}

	.text-smaller {
		font-size: 1rem;
	}

	.text-medium {
		font-size: 1.2rem;
	}

	.text-larger {
		font-size: 1.6rem;
	}

	ion-list-header {
		font-weight: bold;
		margin-bottom: 0px !important;
		min-height: 1rem !important;
	}

	.read-popover-header ion-label {
		display: flex;
		justify-content: space-between;
		margin-top: 2px;
	}

	.close{
		font-size: 1rem;
	}

	.appearence{
		margin-top: 0.8rem;
	}

	.asterix{
		height: 0.8em;
		padding-right: 0.1em;
	}

	.show_personInfo{
		display: inline;
		background-color: color($colors, person);
	}
	.show_workInfo{
		display: inline;
		background-color: color($colors, work);
	}
	.show_placeInfo{
		display: inline;
		background-color: color($colors, location);
	}
	.show_abbreviations{
		display: inline;
		background-color: color($colors, abbreviations);
	}
	.show_changesInfo{
		display: inline;
		background-color: color($colors, changes);
	}
}

.popover-content{
	overflow-x: hidden !important;
}
