<ion-item *ngIf="textLoading" class="spinner-wrapper"><ion-spinner class="loading" name="crescent"></ion-spinner></ion-item>
<div class="tei" [innerHTML]="text"
  [class.show_comments]="readPopoverService.show.comments"
  [class.show_personInfo]="readPopoverService.show.personInfo"
  [class.show_workInfo]="readPopoverService.show.workInfo"
  [class.show_abbreviations]="readPopoverService.show.abbreviations"
  [class.show_pageNumbering]="readPopoverService.show.pageNumbering"
  [ngClass]="(readPopoverService.fontsize==0)?'smallFont':(readPopoverService.fontsize==1)?'mediumFont':'largeFont'"
></div>
