epub {
  background-color: rgb(249, 252, 252);
  display: block;
  height: 95%;
  width: 75vw;
  margin: auto;

  @media screen and (max-width: 820px) {
    width: 100%;
    height: 100%;
  }

  .secondary > .toolbar-content {
    display: flex;
    justify-content: flex-end;

    ion-buttons {
      order: 0;
      width: 100%;
    }
  }

  .navigation-buttons-toc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-grow: 0;
    gap: 9px;
  }

  .navigation-buttons-col {
    display: flex;
  }

  ion-header .navigation-buttons-col {
    min-width: 50px;
  }

  .navigation-buttons-col .navigation-buttons {
    width: 100%;
  }

  .navigation-buttons-col.current-section-label-col {
    flex-grow: 3;
  }

  @media screen and (max-width: 600px) {
    .navigation-buttons-col.current-section-label-col {
      display: none;
    }
  }

  .navigation-buttons-col .current-section-label {
    margin: auto;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  button.button-clear.navigation-buttons {
    color: var(--text-color-on-secondary-color-background);
  }

  button.button-clear.navigation-buttons.disabled-nav-button {
    opacity: 0.25;
  }

  #toc_text {
    position: absolute;
    z-index: 10001;
    top: 50px;
    right: -10px;
    background-color: #f1f1f1;
    font-size: 1rem;
    padding: 1.75rem 1.75rem 5rem 1.75rem;
    overflow-y: scroll;
    overflow-x: auto;
    height: calc(100% - 50px);
    width: 65%;
    max-width: 450px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    box-shadow: -5px 0px 5px 1px rgba(0, 0, 0, 0.2);
    clip-path: inset(0px 0px 0px -12px);
    line-height: 1.3;
  }

  @media screen and (max-width: 500px) {
    #toc_text {
      width: 75%;
    }
  }

  @media screen and (max-width: 450px) {
    #toc_text {
      width: 80%;
    }
  }

  #toc_text.menuOpen {
    margin-right: 10px;
    transform: translateX(0);
  }

  #toc_text ol {
    list-style-type: none;
    margin: 0 0 0.5em 1.5em;
    padding: 0;
  }

  #toc_text > ol {
    margin-left: 0;
  }

  #toc_text li {
    padding-bottom: 0.5em;
  }

  #toc_text .epub_cover {
    width: 66%;
    margin: 0 auto 2em auto;
    display: block;
  }

  #toc_text .epub_creator,
  #toc_text .epub_title {
    text-align: center;
    line-height: 1.5;
    margin: 1.25em 0;
  }

  #toc_text .epub_creator {
    font-size: 1em;
  }

  #toc_text .epub_title {
    font-size: 1.25em;
    font-style: italic;
  }

  #toc_text .epub_creator + .epub_title {
    margin-top: -0.625em;
  }

  #toc_text hr {
    margin-bottom: 1.5em;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.25);
  }

  #toc_text a {
    text-decoration: none;
    color: rgb(27, 27, 27);
    transition: 0.3s;
  }

  #toc_text a:hover {
    text-decoration: underline;
  }

  .navigation-buttons-toc .ion-md-close {
    margin: 0 0 0 0.184375rem;
  }

  #search_menu {
    height: auto;
    width: 500px;
    max-width: 100%;
    position: absolute;
    top: 50px;
    right: -10px;
    z-index: 10002;
    overflow-x: hidden;
    font-size: 1rem;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  }

  #search_menu ion-grid {
    flex-direction: row;
  }

  @media screen and (max-width: 820px) {
    #search_menu ion-grid,
    #search_menu .navigation-buttons-col {
     padding: 0;
    }

    .navigation-buttons-toc .side-title {
      display: none;
    }
  }

  #search_menu.searchOpen {
    margin-right: 10px;
    transform: translateX(0);
  }

  #search_menu .search-nav-button {
    width: 50px;
  }

  #search_menu .search-bar {
    flex-grow: 3;
  }

  #search_menu button.button-clear.navigation-buttons {
    color: #000;
  }

  #search_menu .search-count {
    margin: 0 5px;
    width: 100%;
    display: block;
    text-align: center;
  }

  #search_menu .secondary-toolbar-icons-wrapper {
    padding-right: 5px;
  }

  #search_menu .secondary-toolbar-icons-wrapper .navigation-buttons-col {
    padding: 0;
  }

  .toc-epub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px 15px 25px 15px;
  }

  @media screen and (max-width: 600px) {
    .toc-epub-container {
      padding: 30px 8px 20px 8px;
    }
  }

  .toc-epub-container > .spinner-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
  }
  .toc-epub-container > .spinner-wrapper > ion-spinner.loading.spinner-crescent {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toc-epub-container > .spinner-wrapper > ion-spinner.loading.spinner-crescent * {
    width: 64px;
    height: 64px;
  }

  #area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .text-changer-mobile-view .forwardBackward {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    z-index: 9999;
    padding: 0;
    transform: none;
    height: auto;
  }

  .text-changer-mobile-view .forwardBackward .navigation-buttons {
    margin: 0;
    height: 36px !important;
  }

  .text-changer-mobile-view .forwardBackward button.button-clear.navigation-buttons {
    color: #000;
  }

  .text-changer-mobile-view .forwardBackward.grid {
    background-color: #cacaca;
  }

  .current-position-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.875rem;
  }

  .text-changer-mobile-view + .current-position-container {
    bottom: 51px;
    right: 8px;
  }

  .text-changer-mobile-view .navigation-buttons-col.text-changer-current-section-label-col {
    flex-grow: 2;
  }

  @media screen and (max-width: 450px) {
    .text-changer-mobile-view .navigation-buttons-col.text-changer-current-section-label-col {
      display: none;
    }
  }

}

.mobile-view-epub epub {
  height: calc(100% - 46px);
  margin: 0;
}

@media screen and (max-width: 820px) {
  .mobile-view-epub epub {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .mobile-view-epub epub .toc-epub-container {
    padding: 30px 4px 20px 4px;
  }
}

.mobile-view-epub div#area > div {
  max-height: 100% !important;
}

.mobile-view-epub epub #search_menu ion-grid {
  padding: 0;
}
