<ion-header>
  <ion-toolbar color="secondary" class="secondary">
    <ion-title *ngIf="showPage">
      <div class="page-title">{{appName}}</div>
      <div class="page-subtitle">Epub</div>
    </ion-title>
    <ion-buttons>
        <ion-grid>
            <ion-row class="secondary-toolbar-icons-wrapper" nowrap align-items-center justify-content-end>
              <ion-col class="navigation-buttons-col" *ngIf="(userSettingsService.isMobile() === false && userSettingsService.isTablet() === false)">
                <button ion-button clear class="navigation-buttons" [ngClass]="atStart ? 'disabled-nav-button' : ''" id="epub-arrow-prev" (click)="prev()" *ngIf="!loading">
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
              </ion-col>
              <ion-col class="navigation-buttons-col current-section-label-col" *ngIf="(userSettingsService.isMobile() === false && userSettingsService.isTablet() === false)">
                <div class="current-section-label" *ngIf="!loading">
                  <span [innerHTML]="currentSectionLabel"></span>
                </div>
              </ion-col>
              <ion-col class="navigation-buttons-col" *ngIf="(userSettingsService.isMobile() === false && userSettingsService.isTablet() === false)">
                <button ion-button clear class="navigation-buttons" [ngClass]="atEnd ? 'disabled-nav-button' : ''" id="epub-arrow-next" (click)="next()" *ngIf="!loading">
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
              </ion-col>
              <ion-col class="navigation-buttons-toc">
                <button ion-button clear class="sec-menu-button" (click)="downloadEpub()">
                  <ion-icon name="download" class="intro-dowload-button"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Epub.Download' | translate }}</span>
                </button>
                <button *ngIf="showURNButton" ion-button clear class="sec-menu-button" (click)="showReference()">
                  <ion-icon class="urn-icon" name="share-alt"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.refer' | translate }}</span>
                </button>
                <button ion-button clear #settingsIconElement (click)="showReadSettingsPopover($event)" class="sec-menu-button" id="settings-icon">
                  <ion-icon class="settings-icon" name="eye"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Epub.DisplayOptions' | translate }}</span>
                </button>
                <button ion-button clear class="sec-menu-button" (click)="toggleSearchMenu()">
                  <ion-icon name="search" class="intro-search-button" *ngIf="!searchMenuOpen"></ion-icon>
                  <ion-icon name="close" class="intro-search-button" *ngIf="searchMenuOpen"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Epub.Search' | translate }}</span>
                </button>
                <button ion-button clear class="sec-menu-button" [ngClass]="tocMenuOpen ? 'menuOpenTOC' : 'menuClosedTOC'"  (click)="toggleTocMenu()">
                  <ion-icon name="menu" class="intro-toc-button" *ngIf="!tocMenuOpen"></ion-icon>
                  <ion-icon name="close" class="intro-toc-button" *ngIf="tocMenuOpen"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Epub.Contents' | translate }}</span>
                </button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="search_menu" [ngClass]="searchMenuOpen ? 'searchOpen' : 'searchClosed'">
  <ion-grid>
    <ion-row class="search-bar">
      <ion-col class="navigation-buttons-col">
        <ion-searchbar class="epub-search-bar" (ionChange)=doSearch($event) (ionClear)="clearSearch($event)" *ngIf="!loading" [(ngModel)]="searchText" placeholder="{{'Epub.SearchPhrase' | translate}}"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="secondary-toolbar-icons-wrapper" nowrap align-items-center>
      <ion-col class="navigation-buttons-col search-nav-button">
        <button *ngIf="!loading" ion-button clear class="navigation-buttons" (click)="prevSearch()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="navigation-buttons-col">
          <div class="search-count" *ngIf="!loading">
            <span *ngIf="searchResultIndex === 0 && searchResults.length>0">1 / {{searchResults.length}}</span>
            <span *ngIf="searchResultIndex > 0">{{searchResultIndex + 1}} / {{searchResults.length}}</span>
          </div>
      </ion-col>
      <ion-col class="navigation-buttons-col search-nav-button">
        <button *ngIf="!loading" ion-button clear class="navigation-buttons" (click)="nextSearch()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div id="toc_text" [ngClass]="tocMenuOpen ? 'menuOpen' : 'menuClosed'" (click)="toggleTocMenu()">
</div>

<div class="toc-epub-container">
  <div *ngIf="loading" class="spinner-wrapper">
    <ion-spinner class="loading" name="crescent"></ion-spinner>
  </div>
  <div id="area"></div>
</div>

<div class="text-changer-mobile-view" *ngIf="(userSettingsService.isMobile() === true || userSettingsService.isTablet() === true)">
  <ion-grid class="forwardBackward">
      <ion-row class="secondary-toolbar-icons-wrapper" nowrap align-items-center>
        <ion-col class="navigation-buttons-col">
          <button ion-button clear class="navigation-buttons" [ngClass]="atStart ? 'disabled-nav-button' : ''" id="epub-arrow-prev" (click)="prev()" *ngIf="!loading">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col class="navigation-buttons-col text-changer-current-section-label-col">
          <div class="current-section-label" *ngIf="!loading">
            <span [innerHTML]="currentSectionLabel"></span>
          </div>
        </ion-col>
        <ion-col class="navigation-buttons-col">
          <button ion-button clear class="navigation-buttons" [ngClass]="atEnd ? 'disabled-nav-button' : ''" id="epub-arrow-next" (click)="next()" *ngIf="!loading">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
</div>

<div class="current-position-container" *ngIf="!loading">
  <span [innerHTML]="currentPositionPercentage"></span>
</div>
