<div class="navigation-buttons">
  <a (click)="prev()">prev</a>
  <a (click)="next()">next</a>
</div>
<div class="toc-epub-container" >
  <nav id="TOC" [ngClass]="tocMenuOpen ? 'menuOpenTOC' : 'menuClosedTOC'">
    <div id="toc_menu" (click)="toggleTocMenu()" [ngClass]="tocMenuOpen ? 'menuOpenIcon' : 'menuClosedIcon'">
        <ion-icon name="menu" class="intro-toc-button" *ngIf="!tocMenuOpen"></ion-icon>
        <ion-icon name="close" class="intro-toc-button" *ngIf="tocMenuOpen"></ion-icon>
    </div>
    <div id="toc_text" [ngClass]="tocMenuOpen ? 'menuOpen' : 'menuClosed'">
    </div>
  </nav>
  <div id="area"></div>
</div>

