page-comment-modal {

  /* Styles for the notes that the modal contains are defined in src/theme/_tei_comment.scss */

  /* This hides the vertical scrollbar on the right edge of the modal when it is not necessary to show it. */
  ion-content > .scroll-content {
    overflow: auto;
  }

  ion-title {
    margin-left: 12px;
  }

  .close-button {
    margin-right: 12.6px;
  }

  div.tei {
    padding: 0 8px 8px 8px;
    line-height: 1.5em;
  }
}
