page-comment-modal {

  /* Styles for the notes that the modal contains are defined in src/theme/_tei_comment.scss */

  /* This hides the vertical scrollbar on the right edge of the modal when it is not necessary to show it. */
  ion-content > .scroll-content {
    overflow: auto;
  }

  ion-title {
    margin-left: 4px;
  }

  .close-button {
    margin-right: 10px;
  }

  /*
  div.tei {
    line-height: 1.6em;
  }
  */

  /*
  .pos44 {
    color: #fe0000;
  }
  */

  /*
  .tei {
    font-family: $font-comment-modal-tei;
    line-height: 2.2rem;
    font-size: 1.5rem;
  }

  .notePosition {
    display: inline-block;
    padding-right: 1rem;
  }

  .noteLemma {
    display: inline;
  }

  .teiComment+p {
    display: inline;
  }

  .tei p.note {
    display: inline;
  }

  p .teiComment {
    margin-top: 1rem;
  }

  .noteLegend {
    margin-bottom: 0rem !important;
    display: block !important;
  }

  span:not([class]) {
    font-size: 9pt;
    line-height: 150%;
  }

  .noteLemma {
    line-height: 2rem;
  }

  span:not([class]) {
    font-size: 9pt;
    line-height: 150%;
  }
  .noteLemma {
    line-height: 2rem;
  }
  */
}
