page-comment-modal {
	.pos44{
		color: #fe0000;
	}
	.note{
				
	}
	.tei{
		font-family: $font-comment-modal-tei;
		line-height: 2.2rem;
		font-size: 1.5rem;
	}
	.notePosition {
		display: inline-block;
		padding-right: 1rem;
    }
    .noteLemma {
		display: inline;
    }
    .teiComment  + p{
        display: inline;
    }
    .tei p.note{
        display: inline;
    }
    p .teiComment{
        margin-top: 1rem;
    }
    .noteLegend{
        margin-bottom: 0rem !important;
        display: block !important;
    }
}
