@import "../../../theme/variables.scss";

.text-button {
	justify-content: center;
	background: transparent;
}
.text-button:hover {
	background-color: rgba(var(--button-background-color-rgb), 0.2);
	border-radius: $corner-roundness;
}

.text-xsmall {
	font-size: 0.75rem !important;
}

.text-small {
	font-size: 1rem !important;
}

.text-medium {
	font-size: 1.25rem !important;
}

.text-large {
	font-size: 1.5rem !important;
}

.text-xlarge {
	font-size: 1.75rem !important;
}

ion-list-header {
	font-weight: bold !important;
	margin-bottom: 0 !important;
	min-height: 1rem !important;
}
ion-item ion-label.label {
	line-height: 1.5;
	margin: 9px 8px 9px 0;
}

ion-list:last-child {
	margin-bottom: 8px;
}

.read-popover-header ion-label {
	display: flex;
	justify-content: space-between;
	margin-top: 2px;
}

.close {
	font-size: 1rem;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
	transition: $opacity-hover-transition;
}
.close:hover {
	opacity: $opacity-hover;
}
.close:active {
	opacity: 1;
}

.selected-font-size,
.selected-font-size:hover {
	background-color: var(--button-background-color);
	color: #fff;
	border-radius: $corner-roundness;
}

.appearence {
	margin-top: 14px;
}

.asterix {
	height: 0.75rem;
	padding-right: 0.125rem;
}

.show_personInfo {
	display: inline;
	background-color: var(--persName-color);
}
.show_workInfo {
	display: inline;
	background-color: var(--workTitle-color);
}
.show_placeInfo {
	display: inline;
	background-color: var(--placeName-color);
}
.show_abbreviations {
	display: inline;
	background-color: var(--abbreviations-color);
}
.show_changesInfo {
	display: inline;
	background-color: var(--changes-color);
}
.show_normalisationsInfo {
	display: inline;
	background-color: var(--normalisations-color);
}
.popover-content{
	overflow-x: hidden !important;
}
