<div class="tab-container" id="tabs-text-container" *ngIf="platform.is('core') && isExternal === false" >
  <div *ngFor="let facsimile of facsimiles; let i = index" (click)="changeFacsimile(facsimile)"
    [ngClass]="(selectedFacsimile.title === facsimile.title)?'firts-tab':'tab'">
    <span [innerHTML]='facsimile.title'></span>
    <div [ngClass]="(selectedFacsimile.title === facsimile.title)?'open-in-tab':'open-in-tab-hidden'"
      (click)="openNewFacs($event, facsimile)">{{"Read.OpenInTab" | translate}}</div>
    <div
      [ngClass]="(selectedFacsimile.title === facsimile.title)?'open-manuscript-in-tab':'open-manuscript-in-tab-hidden'"
      (click)="openNewManuscriptFacs($event, facsimile)" *ngIf="facsimile.manuscript_id">
      {{"Read.Facsimiles.OpenManuscript" | translate}}</div>
  </div>
</div>

<div class="tab-container" id="tabs-text-container" *ngIf="platform.is('core') && isExternal === true" >
  <div [ngClass]="'firts-tab'">
    <span>{{"Read.Facsimiles.ExternalHeading" | translate}}</span>
  </div>
</div>

<ion-item *ngIf="externalURLs.length===0">
  <ion-label position="floating">{{"Read.Facsimiles.Page" | translate}} ({{"Read.Facsimiles.Of" | translate}}
    {{numberOfPages ? numberOfPages : (images ? images.length : 0)}}):</ion-label>
  <ion-input class="page_number_input" type="number" size="12" (change)="setPage($event)" [(ngModel)]="manualPageNumber"
    type="number"></ion-input>
</ion-item>

<div id="facsimilies-image">
  <img *ngIf="!facsimilePagesInfinite && externalURLs.length===0"
    [src]="images ? images[activeImage] : ''"
    style="width: 100%;"
    [ngStyle]="{'transform':'scale('+zoom+') rotate('+angle+'deg) translate3d(' + prevX + 'px, ' + prevY + 'px, 0px)'}"
    (wheel)="onMouseWheel($event)"
    (pan)="handleSwipeEvent($event)"
    (mouseup)="onMouseUp($event)"
    (touchend)="onTouchEnd($event)"
    (mousedown)="$event.preventDefault();"
  >
  <span *ngIf="!facsimilePagesInfinite && externalURLs" class="external_url">
    <a *ngFor="let ext of externalURLs" target="_blank" href="{{ext.url}}" [innerHTML]="ext.title"></a>
  </span>
</div>

<div>
  <img *ngIf="facsimilePagesInfinite && facsNumber && externalURLs.length===0"
    [src]="facsUrl + facsNumber + (facsSize ? '/' + facsSize : '')"
    style="width: 100%;"
    [ngStyle]="{'transform':'scale('+zoom+') rotate('+angle+'deg) translate3d(' + prevX + 'px, ' + prevY + 'px, 0px)'}"
    (wheel)="onMouseWheel($event)"
    (pan)="handleSwipeEvent($event)"
    (mouseup)="onMouseUp($event)"
    (touchend)="onTouchEnd($event)"
    (mousedown)="$event.preventDefault();"
  >
  <span *ngIf="externalURLs" class="external_url">
    <a *ngFor="let ext of externalURLs" target="_blank" href="{{ext.url}}" [innerHTML]="ext.title"></a>
  </span>
</div>

<ion-fab middle left class="leftFacsimileArrow">
  <button ion-fab color="primary" mini (click)="previous()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>
</ion-fab>
<ion-fab middle right>
  <button ion-fab color="primary" mini (click)="next()">
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
  <button ion-fab color="secondary" mini (click)="openZoom()">
    <ion-icon name="expand"></ion-icon>
  </button>
  <button ion-fab color="secondary" mini (click)="zoomIn()">
    <ion-icon name="add"></ion-icon>
  </button>
  <button ion-fab color="secondary" mini (click)="zoomOut()">
    <ion-icon name="remove"></ion-icon>
  </button>
  <button ion-fab color="secondary" mini (click)="rotate()">
    <ion-icon name="refresh"></ion-icon>
  </button>
  <button ion-fab color="secondary" mini (click)="resetFacsimile()">
    <ion-icon name="undo"></ion-icon>
  </button>
</ion-fab>

<div class="tei" [innerHTML]="text" [class.show_comments]="readPopoverService.show.comments"
  [class.show_personInfo]="readPopoverService.show.personInfo"
  [class.show_abbreviations]="readPopoverService.show.abbreviations"
  [class.show_workInfo]="readPopoverService.show.workInfo"
  [class.show_pageNumbering]="readPopoverService.show.pageNumbering"
  [ngClass]="(readPopoverService.fontsize==0)?'smallFont':(readPopoverService.fontsize==1)?'mediumFont':'largeFont'">
</div>
