facsimiles {
    .leftFacsimileArrow {
        left: 0;
        right: auto !important;
    }

    #facsimilies-image {
        max-height: 100%;
        height: 100%;
    }
    #facsimilies-image img {
      max-height: -webkit-fill-available;
      max-height: fill-available;
      object-fit: scale-down;
      object-position: top;
      width: 100%;
      height: 100%;
    }

    .external_url a {
      white-space: normal;
    }

    .tab-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 90%;
        background: var(--read-columns-background-color);
        align-items: flex-end;
        position: relative;
        cursor: pointer;
        margin-bottom: 1rem;
        top: -1.2rem;
        background-color: transparent;
    }

    .tab,
    .first-tab {
        color: #c9c9c9;
        font-weight: 600;
        white-space: nowrap;
        padding-left: 0.5rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        background-color: var(--read-columns-background-color);
        border-bottom: 1px solid black;
    }

    .tab {
        overflow: hidden;
        text-overflow: ellipsis;
        align-self: flex-end;
    }

    .first-tab {
        border-bottom: 1px solid red;
        color: black;
    }

    .open-in-tab-hidden {
        display: none;
        position: absolute;
        margin-top: 0.3rem;
        font-weight: 100;
        font-size: 0.8rem !important;
    }

    .tab-container > div:hover .open-in-tab-hidden {
        display: block;
    }

    .tab-container > div > div.tab:hover {
        white-space: nowrap;
        overflow: initial;
        text-overflow: unset;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        background-color: var(--read-columns-background-color);
        border-bottom: 1px solid red;
        color: black;
    }

    .open-manuscript-in-tab-hidden {
        display: none;
        position: absolute;
        margin-top: 0.3rem;
        font-weight: 100;
        font-size: 0.8rem !important;
    }

    .open-manuscript-in-tab {
        display: block;
        position: absolute;
        margin-top: 0.3rem;
        font-weight: 100;
        font-size: 0.8rem !important;
    }

    .open-in-tab {
        display: none;
    }

    img {
        cursor: move;
        // https://github.com/hammerjs/hammer.js/issues/1050#issuecomment-267595556
        // Need to use !important because something is trying to override the value.
        touch-action: none !important;
    }

    .external_urls_wrapper > .scroll-content {
        padding: 0 !important;
    }
    .external_urls_wrapper div.tei {
        padding-bottom: 100px;
    }
    .external_urls_wrapper ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: table;
    }
    .external_urls_wrapper ul > li {
        padding: 0 0 0.5em 0;
        display: table-row;
    }

    .external_urls_wrapper ul > li::before {
        content: "\203A";
        padding-right: 0.5em;
        display: table-cell;
        text-align: right;
    }

    .text-select-wrapper .flex-buttons {
        justify-content: space-between;
    }

    ion-item.item.page-number-wrapper {
        background-color: transparent;
        padding-left: 0;

        div.item-inner {
            padding: 0 0 12px 0;
            /*box-shadow: inset 0 -1px 0 0 #666 !important;*/
            box-shadow: none !important;
            border-bottom: 0;

            div.input-wrapper {
                display: inline-block;

                ion-label.page_number_label {
                    float: left;
                    margin: 9px 16px 9px 0;
                    color: var(--dark-color);
                    max-width: max-content;
                }

                ion-input.page_number_input {
                    float: left;
                    width: auto;

                    input {
                        width: 5.25rem;
                        padding: 8px;
                        border: 1px solid #666;
                        margin: 0;
                        border-radius: $corner-roundness;
                    }
                    input:focus {
                        border-color: var(--primary-color);
                    }
                }
            }
        }
    }

}
