page-song {
    ion-label{
        white-space: normal !important;
        line-height: 1.2rem;
    }
    ion-card-title{
        font-size: 1.6rem !important;
        padding-left: 1rem !important;
    }
    .list{
        margin: 0px !important;
    }
}
