<ion-list *ngIf="menuStack">
  <ion-item *ngIf="!sortableLetters.includes(collectionId) && menuStack.length === 1" (click)="unDrill()" class="back-to-list-button collections" no-lines>
    <ion-icon name="ios-arrow-back" item-left small></ion-icon>
    <div style="padding-left:2rem; white-space: normal;" *ngIf="titleStack.length > 0">{{titleStack[0]}}</div>
  </ion-item>
  <!-- *ngIf="this collection id is in the sortableLetters array" -->
  <ng-container *ngIf="sortableLetters.includes(collectionId)">
    <ion-item (click)="unDrill()" class="back-to-list-button" no-lines>
      <div style="padding-left:2rem; white-space: normal;">{{ "Read.Back" | translate }}</div><ion-icon name="ios-arrow-back" item-left small></ion-icon>
    </ion-item>
    <ion-item class="collection-filters">
        <button id="thematic" ion-button [ngClass]="{active: thematicOrderActive}" (click)="visibleMenuStack = menuStack; setActiveSortingType($event)">
            <ion-icon name="ios-pricetags-outline"></ion-icon>
        </button>
        <button id="chronological" ion-button [ngClass]="{active: chronologicalOrderActive}" (click)="visibleMenuStack = [chronologicalMenuStack]; setActiveSortingType($event)">
            <ion-icon name="ios-calendar-outline"></ion-icon>
        </button>
        <button id="alphabetical" ion-button [ngClass]="{active: alphabethicOrderActive}" (click)="visibleMenuStack = [alphabeticalMenuStack]; setActiveSortingType($event)">
            <ion-icon name="ios-swap-outline"></ion-icon>
        </button>
    </ion-item>
</ng-container>

  <ion-item *ngIf="menuStack.length === 1 && titleText.length>0" shwoWen="core, mobile" [ngClass]="this.coverSelected?'selected':''">
    <p class="justLevel" (click)="openTitlePage()">{{ "Read.TitlePage.Title" | translate }}</p>
  </ion-item>
  <ion-item *ngIf="menuStack.length === 1 && introText.length>0" [ngClass]="this.introductionSelected?'selected':''">
    <p class="justLevel" (click)="openIntroduction()">{{ "Read.Introduction.Title" | translate }}</p>
  </ion-item>
  <ng-container *ngFor="let item of visibleMenuStack[visibleMenuStack.length -1]; let i = index;">
    <ng-container *ngIf="item.children">
      <ion-item  (click)="drillDown(item)" id="toc_{{item.itemId}}">
        <p>{{item.text}} drilldown</p>
        <ion-icon name="ios-arrow-forward" item-right small></ion-icon>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="!item.children">
      <ion-item-divider *ngIf="item.type==='subtitle'" class="{{item.type}}">
        {{item.text}}
      </ion-item-divider>
      <ion-item *ngIf="item.type==='est'" (click)="open(item, null, 'toc_'+item.itemId)" id="toc_{{item.itemId}}" [ngClass]="(item.selected)?'selected':''">
        <p>{{item.text}}</p>
      </ion-item>
      <ion-item *ngIf="item.type==='facsimile'" (click)="open(item, 'facsimile', 'toc_'+item.itemId)" id="toc_{{item.itemId}}" [ngClass]="(item.selected)?'selected':''">
        <p>{{item.text}}</p>
      </ion-item>
      <ion-item *ngIf="item.type==='song-example'" (click)="open(item, 'song-example', 'toc_'+item.itemId)" id="toc_{{item.itemId}}" [ngClass]="(item.selected)?'selected':''">
        <p>{{item.text}}</p>
      </ion-item>
    </ng-container>
  </ng-container>
</ion-list>
