table-of-contents-drilldown-menu {
    .back-to-list-button p {
        font-size: inherit;
        font-weight: 400;
        color: $back-button-text-color;
        position: sticky;
        top: 0;
    }
    ion-item-divider {
        background-color: $divider-bg-color !important;
    }
    .selected {
        background-color: rgba(0, 0, 0, 0.1);
    }

    ion-label > p {
        white-space: normal;
        font-size: 1rem !important;
    }

    .collection-filters {
        ion-label {
            display: flex;
            justify-content: space-around;

            button {
                .button-inner ion-icon {
                    color: #ddd;
                }

                &.active {
                    background-color:#4a6770;
                    color: #fff;

                    &:hover {
                        background-color: #547a86;
                    }
                }
            }
        }
    }
}
