manuscripts {
    .XMLcomment {
        display: none;
    }

    .tei img {
      width: 0.9rem;
      display: inline;
    }

}
.mobile-mode-manuscripts manuscripts .text-select-wrapper {
  display: none !important;
}
