<div class="tab-container">
  <div *ngFor="let manuscript of manuscripts" (click)="changeManuscript(manuscript)"
    [ngClass]="(selectedManuscript === manuscript)?'firts-tab':'tab'">
    {{manuscript.name}}
    <div [ngClass]="(selectedManuscript === manuscript)?'open-facsimile-in-tab':'open-facsimile-in-tab-hidden'"
      (click)="openFacsimileMan($event, manuscript)">{{"Read.Manuscripts.OpenFacsimile" | translate}}</div>
    <div [ngClass]="(selectedManuscript === manuscript)?'open-in-tab':'open-in-tab-hidden'"
      (click)="openNewMan($event, manuscript)">{{"Read.OpenInTab" | translate}}</div>

  </div>
</div>

<ion-item>
  <ion-label>{{"Read.Manuscripts.ShowNormalized" | translate}}</ion-label>
  <ion-toggle [(ngModel)]="normalized" (ionChange)="changeManuscript()"></ion-toggle>
</ion-item>

<div class="tei" [innerHTML]="text" [class.show_comments]="readPopoverService.show.comments"
  [class.show_personInfo]="readPopoverService.show.personInfo"
  [class.show_abbreviations]="readPopoverService.show.abbreviations"
  [class.show_workInfo]="readPopoverService.show.workInfo"
  [class.show_pageNumbering]="readPopoverService.show.pageNumbering"
  [ngClass]="(readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize'">
</div>
