manuscripts {
    .XMLcomment {
        display: none;
    }

    img.teiManuscript.symbol {
      width: 0.7rem;
      display: inline;
    }

    .tei img {
      width: 0.9rem;
      display: inline;
    }
}
