<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="(showLogo || !userSettingsService.isTablet()) && !(splitPaneMobile && userSettingsService.isMobile())" col-8>
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="userSettingsService.isDesktop() || userSettingsService.isTablet()">
              <ion-buttons start>
                <button ion-button icon-only (click)="toggleSplitPane()" class="enable" isActive="false" small id="menuToggle">
                  <ion-icon name="menu"></ion-icon>
                </button>
                <button ion-button class="top-menu-button" (click)="front()">
                  <ion-icon name="home"></ion-icon>
                </button>
                <button ion-button class="top-menu-button" (click)="content()">
                  {{'TopMenu.Read' | translate }}
                </button>
                <button ion-button class="top-menu-button" (click)="about()">
                  {{'TopMenu.Info' | translate }}
                </button>
                <button *ngIf="showTopMusicButton" ion-button class="top-menu-button" (click)="music()">
                  {{'TopMenu.Music' | translate }}
                </button>
                <button ion-button class="top-menu-button" (click)="searchApp()" id="searchIcon">
                  <ion-icon name="search"></ion-icon>
                </button>
                <button *ngIf="showHelpButton" ion-button class="top-menu-button" (click)="help()">
                  <ion-icon name="help"></ion-icon>
                </button>
                <button *ngIf="showViewToggle" ion-button class="top-menu-button" (click)="showUserSettingsPopover($event)" end>
                  <ion-icon name="md-globe"></ion-icon>
                </button>
                <button *ngIf="showTopURNButton" ion-button class="top-menu-button" id="link-page-button" (click)="showReference($event)">
                  <ion-icon class="bookmark-icon" name="ios-link"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
            <ion-col *ngIf="userSettingsService.isMobile() && !userSettingsService.isDesktop() && !userSettingsService.isTablet()" class="mobile_row">
                <button ion-button (click)="toggleSplitPane()" class="enable" isActive="false" id="menuToggle">
                  <ion-icon name="menu"></ion-icon>
                </button>
                <button ion-button (click)="searchApp()" class="searchButton" id="searchIcon">
                  <ion-icon name="search"></ion-icon>
                </button>
                <button *ngIf="showHelpButton" ion-button class="top-menu-button" (click)="help()">
                  <ion-icon name="help"></ion-icon>
                </button>
                <button *ngIf="showViewToggle" ion-button (click)="showUserSettingsPopover($event)" end>
                  <ion-icon name="md-globe"></ion-icon>
                </button>
                <button *ngIf="showTopURNButton" ion-button (click)="showReference($event)">
                  <ion-icon class="bookmark-icon" name="ios-link"></ion-icon>
                </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="!showLogo && userSettingsService.isTablet()" col-12>
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="userSettingsService.isDesktop() || userSettingsService.isTablet()">
              <ion-buttons start>
                <button ion-button class="top-menu-button" (click)="front()">
                  <ion-icon name="home"></ion-icon>
                </button>
                <button ion-button class="top-menu-button" (click)="content()">
                  {{'TopMenu.Read' | translate }}
                </button>
                <button ion-button class="top-menu-button" (click)="about()">
                  {{'TopMenu.Info' | translate }}
                </button>
                <button *ngIf="showTopMusicButton" ion-button class="top-menu-button" (click)="music()">
                  {{'TopMenu.Music' | translate }}
                </button>
                <button ion-button class="top-menu-button" (click)="searchApp()" id="searchIcon">
                  <ion-icon name="search"></ion-icon>
                </button>
                <button *ngIf="showHelpButton" ion-button class="top-menu-button" (click)="help()">
                  <ion-icon name="help"></ion-icon>
                </button>
                <button *ngIf="showViewToggle" ion-button class="top-menu-button" (click)="showUserSettingsPopover($event)" end>
                  <ion-icon name="md-globe"></ion-icon>
                </button>
                <button *ngIf="showTopURNButton" ion-button class="top-menu-button" (click)="showReference($event)">
                  <ion-icon class="bookmark-icon" name="ios-link"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
            <ion-col *ngIf="userSettingsService.isMobile() && !userSettingsService.isDesktop() && !userSettingsService.isTablet()">
              <ion-buttons end>
                <button ion-button (click)="searchApp()" id="searchIcon" end>
                  <ion-icon name="search"></ion-icon>
                </button>
                <button *ngIf="showViewToggle" ion-button (click)="showUserSettingsPopover($event)" end>
                  <ion-icon name="md-globe"></ion-icon>
                </button>
                <button *ngIf="showTopURNButton" ion-button (click)="showReference($event)">
                  <ion-icon class="bookmark-icon" name="ios-link"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="userSettingsService.isMobile() && !userSettingsService.isDesktop() && !userSettingsService.isTablet()">
        <ion-title float-right>
          <title-logo></title-logo>
        </ion-title>
      </ion-col>
      <ion-col *ngIf="!userSettingsService.isMobile() && !userSettingsService.isTablet()">
        <ion-title float-right>
          <title-logo></title-logo>
        </ion-title>
      </ion-col>
      <ion-col *ngIf="userSettingsService.isTablet() && showLogo" >
        <ion-title float-right>
          <title-logo></title-logo>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
