top-menu {
  //position: absolute;
  //left: $top-menu-left;
  top: 0;
  width: 100%;
  height: 30px;

  .button-inner {
    font-weight: bold;
  }
  .col {
    //padding: 0;

  }

  span{
    font-family: $font-family-top-menu;
    font-size: 1rem;
  }

  .mobile_row{
    display: flex;
    justify-content: space-between;
    .enable{
      order: 0;
      flex-grow: 1;
      padding-left: 0px;
      margin-left: 0px;
    }
    .homeButton{
      order: 1;
      flex-grow: 2;
    }
    .searchButton{
      order: 2;
      flex-grow: 1;
    }
  }
  ion-buttons{
    display: flex !important;
    width:100%;
  }

  ion-toolbar ion-buttons {
    margin-left: -60px !important;
    transition: 0.3s margin-left ease-in;
  }

  &.splitPanePossible ion-toolbar ion-buttons {
    margin-left: 0 !important;
  }

  .toolbar-content ion-title.title {
    height: 100%;
  }

}

.toolbar-ios ion-title {
  padding: 0;
  .toolbar-title-ios {
    // text-align: left;
  }
}

.toolbar-md {
  padding: 0;
}

.toolbar{
  max-height: 70px !important;
  min-height: 70px !important;
}

.mobile_row {
  background-color: transparent;
}

.mobile_row > button{
  background-color: transparent !important; // imp needed to override hover bg-color
  box-shadow: none !important;  // imp needed to override shadow on click
}

.secondary.toolbar{
  max-height: 50px !important;
  min-height: 50px !important;
}

.side-title {
  font-size: 10px;
  margin-left: 8px;
  font-weight: normal;
}

.split-pane-visible {
  top-menu {
    left: $top-menu-left-split-pane;
  }
}

.split-pane {
  margin-top: 10px;
}

.top-menu-button {
  padding-left: 20px;
  padding-right: 20px;
}


.bookmark-icon {
  color: white;
}

ion-icon {
  font-size: 1.8rem;

  @media only screen and (max-width: 650px) {
    font-size: 1.8rem;
  }
}
