<!--
  Generated template for the workSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar color="secondary" class="secondary">
    <ion-title>
      <div class="page-title"></div>
      <div class="page-subtitle"></div>
    </ion-title>
    <ion-buttons end>
      <ion-grid>
        <ion-row>
          <ion-col>
            <!--
            <div name="download" (click)="download()">
              <ion-icon class="settings-icon" *ngIf="!cacheItem" name="ios-cloud-download-outline"></ion-icon>
              <ion-icon class="settings-icon" *ngIf="cacheItem" name="ios-cloud-done"></ion-icon>
            </div>
            -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!--
  <div *ngIf="userSettingsService.isMobile()" right>
    <div text-center class="alphabet-list">
      <div *ngFor="let letter of alphabet" nowrap class="letter" (touchstart)="sortByLetter(letter)">
        {{letter}}
      </div>
    </div>
  </div>
  <ion-fab bottom left *ngIf="userSettingsService.isMobile()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-fab name="download" (click)="download()">
            <ion-icon class="settings-icon" *ngIf="!cacheItem" name="ios-cloud-download-outline"></ion-icon>
            <ion-icon class="settings-icon" *ngIf="cacheItem" name="ios-cloud-done"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-fab>
  -->
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-row *ngIf="('SearchApp.infotext' | translate) !== 'SearchApp.infotext' && ('SearchApp.infotext' | translate).length>0">
            <ion-col col-12>
              <p class="info_text">{{'SearchApp.infotext' | translate}}</p>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <ion-searchbar placeholder="{{'SearchApp.search-holder' | translate}}" class="searchbar" [(ngModel)]="searchText" (ionChange)=onChanged($event)>
            </ion-searchbar>
          </ion-col>
          <ion-col col-1 *ngIf="showFilter">
            <button (click)="openFilterModal()" ion-button>
              <ion-icon class="filter-button" ios="ios-options" md="md-options"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="loadingRow" *ngIf="showLoading">
            <ion-spinner class="loading" name="crescent"></ion-spinner>
        </ion-row>

        <ion-list>
          <div *ngFor="let p of works">
            <ion-item *ngIf="p?.firstOfItsKind">
              <ion-item-divider color="light">{{p.firstOfItsKind}}</ion-item-divider>
            </ion-item>
            <ion-item *ngIf="p['title'].length > 1" (click)="openWork(p)">
                <span *ngFor="let author of p.author_data; let i = index;" class="author">{{(author['last_name'] != '')?author['last_name'].trim():''}}<span *ngIf="author['first_name'].length>0">, </span>{{(author['first_name'] != '')?author['first_name'].trim():''}}{{(i < (p.author_data.length-1))?', ': ''}}</span><span *ngIf="p.author_data.length>0">, </span><span class="work_title">{{p['title']}}</span>
            </ion-item>
          </div>
        </ion-list>

        <ion-infinite-scroll *ngIf="!searchText" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
