<ion-header no-border>
  <ion-toolbar color="secondary" class="secondary">

    <text-changer *ngIf="!(userSettingsService.isMobile())" [recentlyOpenViews]="views" [legacyId]="legacyId" class="text-changer-desktop-view"></text-changer>

    <ion-buttons>
        <ion-grid>
            <ion-row class="secondary-toolbar-icons-wrapper" nowrap align-items-center>
              <ion-col>
                <button ion-button clear (click)="showReference()" class="sec-menu-button">
                  <ion-icon class="urn-icon" name="share-alt"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.refer' | translate }}</span>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear (click)="showSharePopover($event)" class="sec-menu-button">
                  <ion-icon class="share-icon" name="share"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.share' | translate }}</span>
                </button>
              </ion-col>
              <!--
              <ion-col>
                  <div name="download" id="download-icon" (click)="download()">
                  <ion-icon class="settings-icon sec-menu-button" *ngIf="!cacheItem" name="cloud-download"></ion-icon>
                  <ion-icon class="settings-icon sec-menu-button" *ngIf="cacheItem" name="cloud-done"></ion-icon>
                  </div>
              </ion-col>
              -->
              <ion-col>
                <button ion-button clear #settingsIconElement (click)="showPopover($event)" class="sec-menu-button" id="settings-icon">
                  <ion-icon class="settings-icon" name="settings"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Read.Popover.Options' | translate }}</span>
                </button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Main content with scroll -->
<ion-content padding color="secondary" [ngClass]="printMainContentClasses()">
  <div *ngIf="userSettingsService.isDesktop()" class="column-container">
    <ion-fab
      *ngIf="showOccurrencesModal && hasOccurrenceResults && userSettingsService.isDesktop()"
      class="occurrenceButton">
      <button ion-button small
        (click)="openOccurrenceResult()">{{ (occurrenceResult.name)?occurrenceResult.name:("Read.ShowSearchResults" | translate) }}
        &nbsp;<ion-icon name="search"></ion-icon></button>
    </ion-fab>
    <ion-fab class="occurrenceButton" *ngIf="searchResult!=null">
      <button ion-button small (click)="openSearchResult()">{{searchResult}}&nbsp;<ion-icon name="search"></ion-icon>
      </button>
    </ion-fab>

    <div class="read-columns" drag-scroll-y-disabled scrollbar-hidden="true" reachesRightBound="true"
      snap-disabled="true" snap-offset="0" [ngClass]="views.length > 1 ? 'multiple-columns' : 'single-column'">
      <div [ngClass]="'toolTip tei ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')" [ngStyle]="{'top': toolTipPosition.top, 'left': toolTipPosition.left, 'max-width': toolTipMaxWidth, 'transform': 'scale(' + toolTipScaleValue + ')'}" [MathJax]="toolTipText"></div>
      <div [ngClass]="'infoOverlay tei ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')" [ngStyle]="{'position': infoOverlayPosType, 'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}">
        <div class="infoOverlayHeader">
          <h6 class="infoOverlayTitle" [innerHTML]="infoOverlayTitle"></h6>
          <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()"></ion-icon>
        </div>
        <div class="infoOverlayContent" [MathJax]="infoOverlayText"></div>
      </div>
      <div [ngClass]="views.length > 1 ? 'read-column multiple-columns' : 'read-column single-column'" *ngFor="let view of views; let i = index;" id="read_div_{{i}}" scrollY="true"
        [ngStyle]="{'position': 'relative','max-width':((maxSingleWindowWidth)/((views.length>1)?views.length:1))+'%','min-width':'25%'}"
        #readColumn>
        <ion-card>
          <ion-card-header class="read-columns__title">
            {{ view.type | translate }}
          </ion-card-header>
          <ion-card-content>
            <ion-fab top left [ngClass]="(views.length>1)?'close-button-many':'close-button-one'">
              <button ion-fab mini>
                <ion-icon *ngIf="view.established.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.comments.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.facsimiles.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.manuscripts.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.variations.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.songexample.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.introduction.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.illustrations.show" name="menu"></ion-icon>
              </button>
              <ion-fab-list *ngIf="views.length>1">
                <button ion-fab *ngIf="displayToggle" (click)="removeSlide(i)">
                  <ion-icon name="trash"></ion-icon>
                </button>
                <button ion-fab (click)="swipeTabs('read_div_', i)">
                  <ion-icon name="swap"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
            <!-- Don't scroll in facsimile view -->
            <ion-scroll [scrollY]="!view.facsimiles.show" style="height:100vh;" class="card" #scrollBar>
              <div *ngIf="view.established.show">
                <read-text [link]="establishedText.link" [matches]="matches" [external]="external" [nochapterPos]="nochapterPos"></read-text>
              </div>
              <div *ngIf="view.comments.show">
                <comments [link]="establishedText.link" [matches]="matches" [external]="external" (openNewIntroView)="openNewView($event)">
                </comments>
              </div>
              <div *ngIf="view.facsimiles.show" class="read_facsimiles">
                <facsimiles [itemId]="establishedText.link" [selectedFacsimile]="view.facsimiles.id" [matches]="matches"
                  [facsID]="facs_id" [facsNr]="facs_nr" [songID]="song_id" (openNewFacsimileView)="openNewView($event)">
                </facsimiles>
              </div>
              <div *ngIf="view.manuscripts.show">
                <manuscripts [linkID]="view.manuscripts.id" [itemId]="establishedText.link" [matches]="matches"
                  (openNewManView)="openNewView($event)"></manuscripts>
              </div>
              <div *ngIf="view.variations.show">
                <variations [linkID]="view.variations.id" [itemId]="establishedText.link" [matches]="matches"
                  (openNewVarView)="openNewView($event)"></variations>
              </div>
              <div *ngIf="view.introduction.show">
                <introduction [linkID]="view.introduction.id" [itemId]="establishedText.link" [matches]="matches">
                </introduction>
              </div>
              <div *ngIf="view.songexample.show">
                <song-example [songDatafile]="song_id" [legacyId]="legacyId"></song-example>
              </div>
              <div *ngIf="view.illustrations.show">
                <illustrations [itemId]="establishedText.link"></illustrations>
              </div>
            </ion-scroll>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <!-- Add view -->
  <ion-fab id="readFabMenu" class="read-fab-menu" *ngIf="!userSettingsService.isMobile() && displayToggle" bottom right margin #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
    <div class="fab-backdrop" (click)="fab.close()"></div>
      <button ion-fab (click)="showAllViews(); fab.close(); scrollLastViewIntoView()" *ngIf="displayToggles['showAll']">
        <ion-icon name="albums"></ion-icon>
        <ion-label>{{ "Read.ShowAll" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('established', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['established']">
        <ion-icon name="book"></ion-icon>
        <ion-label>{{ "Read.Established.AddButtonText" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('comments', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['comments']">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>{{ "Read.Comments.AddButtonText" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('manuscripts', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['manuscripts']">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>{{ "Read.Manuscripts.AddButtonText" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('variations', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['variations']">
        <ion-icon name="copy"></ion-icon>
        <ion-label>{{ "Read.Variations.AddButtonText" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('facsimiles', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['facsimiles']">
        <ion-icon name="image"></ion-icon>
        <ion-label>{{ "Read.Facsimiles.AddButtonText" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('songexample', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['song-example']">
        <ion-icon name="musical-note"></ion-icon>
        <ion-label>{{ "Read.SongExample.AddButtonText" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('introduction', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['introduction']">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>{{ "Read.Introduction.AddButtonText" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="addView('illustrations', undefined, fab); scrollLastViewIntoView()" *ngIf="displayToggles['illustrations']">
        <ion-icon name="images"></ion-icon>
        <ion-label>{{ "Read.Illustrations.AddButtonText" | translate }}</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>

  <!-- Mobile Read -->
  <ng-container *ngIf="userSettingsService.isMobile()">
    <div [ngClass]="'infoOverlay tei ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')" [ngStyle]="{'position': infoOverlayPosType, 'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}">
      <div class="infoOverlayHeader">
        <h6 class="infoOverlayTitle" [innerHTML]="infoOverlayTitle"></h6>
        <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()"></ion-icon>
      </div>
      <div class="infoOverlayContent" [MathJax]="infoOverlayText"></div>
    </div>
    <ion-scroll [scrollY]="(show=='established')?'true':'false'" style="height:100% !important;">
      <div
        *ngIf="(userSettingsService.isMobile() || userSettingsService.isTablet()) && hasOccurrenceResults && showOccurrencesModal">
        <button class="readpage-occurrences-mobile" ion-button
          (click)="openOccurrenceResult()">{{ "Read.ShowSearchResults" | translate }} &nbsp;<ion-icon name="search">
          </ion-icon></button>
      </div>
      <div (swipe)="swipePrevNext($event)" *ngIf="(userSettingsService.isMobile() || userSettingsService.isTablet())">
        <div>
          <ion-segment [(ngModel)]="show" color="secondary">
            <ion-segment-button value="established" *ngIf="displayToggles['established']">
              {{ "Read.Established.Title" | translate }}
            </ion-segment-button>
            <ion-segment-button value="facsimiles" *ngIf="displayToggles['facsimiles']">
              {{ "Read.Facsimiles.Title" | translate }}
            </ion-segment-button>
          </ion-segment>
        </div>
        <div [ngSwitch]="show">
          <div *ngSwitchCase="'established'" class="mobile-mode-established">
            <read-text [link]="establishedText.link" [matches]="matches"></read-text>
          </div>
          <div *ngSwitchCase="'facsimiles'">
            <facsimiles [itemId]="establishedText.link" [matches]="matches" [facsID]="facs_id" [facsNr]="facs_nr"
              [songID]="song_id"></facsimiles>
          </div>
        </div>
        <!-- NOTE: Temporarily hidden since this doesn't work as intended.
        <div class="read-from-beginning-button" *ngIf="!prevnext && displayToggle === true && show != 'facsimile'">
          <button ion-button round icon-end (click)="firstPage()">{{"Read.ReadFromBeginning" | translate }}</button>
        </div> -->
      </div>
    </ion-scroll>
  </ng-container>

</ion-content>
<text-changer *ngIf="(userSettingsService.isMobile()) && show=='established' && infoOverlayText==''" class="text-changer-mobile-view" [recentlyOpenViews]="views" [legacyId]="legacyId"></text-changer>
