<ion-header no-border>
  <ion-toolbar color="secondary" class="secondary">
    <ion-buttons end *ngIf="!(splitPaneMobile && userSettingsService.isMobile())">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div name="download" (click)="download()">
              <ion-icon class="settings-icon" *ngIf="!cacheItem" name="ios-cloud-download-outline"></ion-icon>
              <ion-icon class="settings-icon" *ngIf="cacheItem" name="ios-cloud-done"></ion-icon>
            </div>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <div (click)="showPopover($event)">
              <ion-icon class="settings-icon" name="settings"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding (swipe)="swipePrevNext($event)" color="secondary">
  <div *ngIf="userSettingsService.isDesktop() && !userSettingsService.isTablet()" class="column-container">

    <ion-fab
      *ngIf="showOccurrencesModal && hasOccurrenceResults && userSettingsService.isDesktop() && !userSettingsService.isTablet()"
      class="occurrenceButton">
      <button ion-button small
        (click)="openOccurrenceResult()">{{ (occurrenceResult.name)?occurrenceResult.name:("Read.ShowSearchResults" | translate) }}
        &nbsp;<ion-icon name="search"></ion-icon></button>
    </ion-fab>
    <ion-fab class="occurrenceButton" *ngIf="searchResult!=null">
      <button ion-button small (click)="openSearchResult()">{{searchResult}}&nbsp;<ion-icon name="search"></ion-icon>
      </button>
    </ion-fab>

    <social-sharing [facebook]="showSocial.facebook" [twitter]="showSocial.twitter"></social-sharing>
    <div class="read-columns" dragScroll drag-scroll-y-disabled scrollbar-hidden="true" reachesRightBound="true"
      snap-disabled="true" snap-offset="0" [ngClass]="views.length > 1 ? 'multiple-columns' : 'single-column'">
      <text-changer [recentlyOpenViews]="views" [legacyId]="legacyId"></text-changer>
      <div class="read-column" *ngFor="let view of views; let i = index;" id="read_div_{{i}}" scrollY="true"
        [ngStyle]="{'position': 'relative','max-width':(95/((views.length>1)?views.length:2))+'%','min-width':'25%'}"
        #readColumn>
        <ion-card>
          <ion-card-content>
            <ion-fab top left [ngClass]="(views.length>1)?'close-button-many':'close-button-one'">
              <button ion-fab mini>
                <ion-icon *ngIf="view.established.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.comments.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.facsimiles.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.manuscripts.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.variations.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.songexample.show" name="menu"></ion-icon>
                <ion-icon *ngIf="view.introduction.show" name="menu"></ion-icon>
              </button>
              <ion-fab-list *ngIf="views.length>1">
                <button ion-fab *ngIf="displayToggle" (click)="removeSlide(i)">
                  <ion-icon name="close"></ion-icon>
                </button>
                <button ion-fab (click)="swipeTabs('read_div_', i)">
                  <ion-icon name="swap"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
            <!-- Don't scroll in facsimile view -->
            <ion-scroll [scrollY]="!view.facsimiles.show" style="height:100vh;" class="card" #scrollBar>
              <div *ngIf="showToolTip" class="toolTip" [ngStyle]="{'top': toolTipPosition.top, 'left': toolTipPosition.left}">{{toolTipText}}</div>
              <div *ngIf="view.established.show">
                <read-text [link]="establishedText.link" [matches]="matches" [external]="external"></read-text>
              </div>
              <div *ngIf="view.comments.show">
                <comments [link]="establishedText.link" [matches]="matches" [external]="external" (openNewIntroView)="openNewView($event)">
                </comments>
              </div>
              <div *ngIf="view.facsimiles.show">
                <facsimiles [itemId]="establishedText.link" [selectedFacsimile]="view.facsimiles.id" [matches]="matches"
                  [facsID]="facs_id" [facsNr]="facs_nr" [songID]="song_id" (openNewFacsimileView)="openNewView($event)">
                </facsimiles>
              </div>
              <div *ngIf="view.manuscripts.show">
                <manuscripts [linkID]="view.manuscripts.id" [itemId]="establishedText.link" [matches]="matches"
                  (openNewManView)="openNewView($event)"></manuscripts>
              </div>
              <div *ngIf="view.variations.show">
                <variations [linkID]="view.variations.id" [itemId]="establishedText.link" [matches]="matches"
                  (openNewVarView)="openNewView($event)"></variations>
              </div>
              <div *ngIf="view.introduction.show">
                <introduction [linkID]="view.introduction.id" [itemId]="establishedText.link" [matches]="matches">
                </introduction>
              </div>
              <div *ngIf="view.songexample.show">
                <song-example [songDatafile]="song_id" [legacyId]="legacyId"></song-example>
              </div>
            </ion-scroll>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!-- Add view -->
    <ion-fab *ngIf="!isTablet && displayToggle" middle right #fab>
      <button ion-fab>
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="showAllViews()" *ngIf="displayToggles['showAll']">
          <ion-icon name="albums"></ion-icon>
          <ion-label>{{ "Read.ShowAll" | translate }}</ion-label>
        </button>
        <button ion-fab (click)="addView('established', fab)" *ngIf="displayToggles['established']">
          <ion-icon name="book"></ion-icon>
          <ion-label>{{ "Read.Established.AddButtonText" | translate }}</ion-label>
        </button>
        <button ion-fab (click)="addView('comments', fab)" *ngIf="displayToggles['comments']">
          <ion-icon name="chatbubbles"></ion-icon>
          <ion-label>{{ "Read.Comments.AddButtonText" | translate }}</ion-label>
        </button>
        <button ion-fab (click)="addView('manuscripts', fab)" *ngIf="displayToggles['manuscripts']">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>{{ "Read.Manuscripts.AddButtonText" | translate }}</ion-label>
        </button>
        <button ion-fab (click)="addView('variations', fab)" *ngIf="displayToggles['variations']">
          <ion-icon name="copy"></ion-icon>
          <ion-label>{{ "Read.Variations.AddButtonText" | translate }}</ion-label>
        </button>
        <button ion-fab (click)="addView('facsimiles', fab)" *ngIf="displayToggles['facsimiles']">
          <ion-icon name="images"></ion-icon>
          <ion-label>{{ "Read.Facsimiles.AddButtonText" | translate }}</ion-label>
        </button>
        <button ion-fab (click)="addView('songexample', fab)" *ngIf="displayToggles['song-example']">
          <ion-icon name="musical-note"></ion-icon>
          <ion-label>{{ "Read.SongExample.AddButtonText" | translate }}</ion-label>
        </button>
        <button ion-fab (click)="addView('introduction', fab)" *ngIf="displayToggles['introduction']">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>{{ "Read.Introduction.AddButtonText" | translate }}</ion-label>
        </button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <!-- Mobile Read -->
  <ng-container *ngIf="!(splitPaneMobile && userSettingsService.isMobile())">
    <div
      *ngIf="(userSettingsService.isMobile() || userSettingsService.isTablet()) && hasOccurrenceResults && showOccurrencesModal">
      <button class="readpage-occurrences-mobile" ion-button
        (click)="openOccurrenceResult()">{{ "Read.ShowSearchResults" | translate }} &nbsp;<ion-icon name="search">
        </ion-icon></button>
    </div>
    <div *ngIf="(userSettingsService.isMobile() || userSettingsService.isTablet())">
      <div>
        <ion-segment [(ngModel)]="show" color="secondary">
          <ion-segment-button value="established" *ngIf="displayToggles['established']">
            {{ "Read.Established.Title" | translate }}
          </ion-segment-button>
          <ion-segment-button value="manuscripts" *ngIf="displayToggles['manuscripts']">
            {{ "Read.Manuscripts.Title" | translate }}
          </ion-segment-button>
          <ion-segment-button value="comments" *ngIf="displayToggles['comments']">
            {{ "Read.Comments.Title" | translate }}
          </ion-segment-button>
          <ion-segment-button value="variations" *ngIf="displayToggles['variations']">
            {{ "Read.Variations.Title" | translate }}
          </ion-segment-button>
          <ion-segment-button value="facsimiles" *ngIf="displayToggles['facsimiles']">
            {{ "Read.Facsimiles.Title" | translate }}
          </ion-segment-button>
          <ion-segment-button value="introduction" *ngIf="displayToggles['introduction']">
            {{ "Read.Introduction.Title" | translate }}
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="show">
        <div *ngSwitchCase="'established'">
          <text-changer [legacyId]="legacyId"></text-changer>
          <read-text [link]="establishedText.link" [matches]="matches"></read-text>
        </div>
        <div *ngSwitchCase="'manuscripts'">
          <manuscripts [linkID]="typeVersion" [itemId]="establishedText.link" [matches]="matches"></manuscripts>
        </div>
        <div *ngSwitchCase="'comments'">
          <comments [link]="establishedText.link" [matches]="matches"></comments>
        </div>
        <div *ngSwitchCase="'variations'">
          <variations [linkID]="typeVersion" [itemId]="establishedText.link" [matches]="matches"></variations>
        </div>
        <div *ngSwitchCase="'facsimiles'">
          <facsimiles [itemId]="establishedText.link" [matches]="matches" [facsID]="facs_id" [facsNr]="facs_nr"
            [songID]="song_id"></facsimiles>
        </div>
        <div *ngSwitchCase="'introduction'">
          <introduction [itemId]="establishedText.link" [matches]="matches"></introduction>
        </div>
      </div>

      <div class="forwardBackward" *ngIf="prevnext">
        <div class="backwardButtonDiv" *ngIf="prevnext.prev">
          <button class="backwardButton" ion-fab mini (click)="prevPage()">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </button>
        </div>
        <div class="forwardButtonDiv" *ngIf="prevnext.next">
          <button class="forwardButton" ion-fab mini (click)="nextPage()">
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
        </div>
      </div>
      <div class="" *ngIf="!prevnext && displayToggle === true && show != 'facsimile'">
        <button ion-button round icon-end (click)="firstPage()">{{"Read.ReadFromBeginning" | translate }}</button>
      </div>
    </div>
  </ng-container>

</ion-content>
