page-read {
    .notePosition,
    .noteLemma {
        font-weight: 700;
    }

    .notePosition {
        margin-right: 5px;
    }

  .read-fab-menu {
    bottom: 50px;
  }

    .toolbar-content {
        display: grid;
            grid-template-columns: auto max-content;

        ion-buttons {
            order: 0;
				}
				.bar-buttons:last-child {
					margin-left: -118px;
				}
		}
		@media screen and (max-width: 800px) {
			.secondary .toolbar-content {
				display: flex;
        justify-content: flex-end;

        .bar-buttons:last-child {
					margin-left: 0;
				}
			}
		}

  .toolTip{
      z-index: 1000;
      position: absolute;
      background: #f1f1f1;
      border: 1px solid #222;
      box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
      padding: 0.5rem;
      white-space: normal;
      max-width: 400px;
      text-align: left;
      p {
      line-height: 22px;
      }
    }

	.segment-header{
        font-size: 1rem !important;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: max-content;
    }

    .segment-button{
        border: 0px !important;
		border-radius: 0px !important;
		height: 2rem !important;
		line-height: 2rem !important;
		font-size: 1rem !important;
		min-width: max-content;
	}

	.segment-activated{
		background-color: color($colors, primary) !important;
		color: color($colors, white) !important;
	}

	.readpage-occurrences-mobile {
		width: 100%;
	}

	.column-container{
		text-align:center;
	}

	.column-container .card{
		text-align:left;
	}

	ion-icon.settings-icon.icon {
		font-size: 1.8em;
  }

  .settings-icon,
  .facebook-icon,
  .twitter-icon,
  .mail-icon {
    cursor: pointer;
  }

	button.close-button.fab.fab-md {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0px;
		margin-right: -8px;
		z-index: 1000;
	}

	ion-fab.left-arrow-facsimile {
		margin-left: -5px;
		left: 0;
	}

	ion-fab.right-arrow-facsimile {
		margin-right: -23px;
	}

	.read-columns {
    height: 80vh;
    margin-bottom: 0.5rem;
		-webkit-overflow-scrolling: touch;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;

		&.single-column .read-column {
			max-width: 50%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		&.multiple-columns .read-column {
			display: inline-block;
		}

		.read-column {
			display: inline-block;
			width: 97%;
			ion-card {
				background-color: #fff;
				margin-bottom: 0;
				.card-content {
					padding-right: 0;
				}
				ion-scroll {
					max-height: calc(100vh - 197px);
				}
			}
		}

		p {
			font-family: $font-read-column-p;
		}

	}


    .tooltip {
        display: none;
	}

	.tooltiptrigger{
		cursor: pointer;
	}

	.pb_orig{
		display:none;
	}

	.pb_zts{
		display:none;
	}

	.swipeCenter {
		position:absolute;
		left: 0;
		right: 0;
		padding-bottom: 4em;
		margin:0 auto;
		text-align: center;
		font-size: 2em;
		color: #676767;
		transform:translateY(-50%);
	}

	.forwardBackward {
		height: 100%;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
	}

	@media screen and (max-width: 480px) {
		.tei{
			padding-left:5px!important;
			padding-right:5px!important;
		}
	}
	.tei {
		transition-property: padding-left;
		transition-duration: 0.2s;
	}
	.tei.show_pageNumbering {
		padding-left: 50px !important;
	}

	ion-slides {
		.card {
			background-color: #fff;
			.card-content {
				padding: 0;
			}
			p {
				white-space: normal;
			}
		}
	}
    button[ion-fab] {
      overflow: visible;
      position: relative;
      contain: layout;

    ion-label {
      position: absolute;
      top: -4px;
			right: 40px;
			padding-right: 5px;
      color: #f1f1f1;
			line-height: 24px;
      transition: right 0.5s;
      font-weight: bold;
		}
		&:hover ion-label {
			right: 35px;
			font-weight: bold;
		}
	}
	ion-fab{
		right: 0 !important;
		z-index: 10;
	}

	.close-button-many{
		right: -10px !important;
		top: -5px;
	}
	.close-button-one{
		right: -10px !important;
		top: -15px;
	}

	.occurrenceButton{
		float: left;
		z-index: 999;
		left: 1rem !important;
		top: 0;
		right: auto !important;
	}

	.swapIcon{
		position: absolute;
		z-index: 999;
		top: 3%;
		right: 0;
		display: block;
	}

	.place_name,.onki_province,.collection{
		color: #78756f;
	}

	h1 {
		font-size: 1.3rem !important;
		text-transform: none;
	}

	.places{
		font-size: 1.0rem;
		color: #78756f;
	}

	.collections{
		font-size: 1.0rem;
		color: #78756f;
  }
  .read-from-beginning-button {
    margin-bottom: 74px;
  }
  .secondary-toolbar-icons-wrapper {
    ion-icon {
      font-size: 1.6rem!important;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}

.md,
.ios,
.wp {
	.swiper-slide .swiper-slide-active{
	   width: 240px;//your width here
	   border: 1px solid black;
  }
}

.no-scroll {
  padding-top: 40px;
  height: 100%;

  .scroll-content {
    overflow: hidden;
  }
}

ion-fab .fab-list-active .fab-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.90);
  z-index: -1;
}
@media(max-width: 800px) {
    ion-backdrop {
        visibility: visible !important;
        z-index: -2;
    }
    page-read .scroll-content {
      padding: 0!important;
    }
    .modal-wrapper {
        width: 90%;
        height: 70%;
        margin: 25px auto;
        .scroll-content {
          padding: 16px;
        }
    }
}

