page-filter {
    .close-button {
        font-size: 5.2rem;
        margin-right: 1.2rem;
    }

    .apply-button {
        margin-left: 1.2rem !important;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
    }

    .fromYear{
      border: 1px solid gray;
      background-color: rgba($color: #000000, $alpha: 0.1);
      margin-top:1rem;
    }
    .toYear{
      border: 1px solid gray;
      background-color: rgba($color: #000000, $alpha: 0.1);
      margin-left: 1rem;
      margin-top:1rem;
    }

    .year_label{
      margin-bottom: 1rem;
    }

    ion-label {
      text-transform: lowercase;
  }
}
