page-elastic-search {
  /* This hides the vertical scrollbar on the right edge of the viewport area when it is not necessary to show it. Observe that there are two elements with class scroll-content, which is why this needs to be this specific. */
  ion-content > .scroll-content {
    overflow: auto;
  }

  ion-grid.search-grid {
    padding: 0 1rem;
  }
  @media(max-width: 800px) {
    ion-grid.search-grid {
      padding: 0 0.5rem;
    }
  }
  @media(max-width: 600px) {
    ion-grid.search-grid {
      padding: 0;
    }
  }

  ion-row.page-info-row {
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    font-size: 1.125rem;

    h1.page-title {
      font-size: 1.8125rem;
      text-transform: none !important;
      margin: 1rem 0 0 0;
    }

    .info.markdown {
      max-width: 800px;
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 1rem;

      markdown > p:first-child {
        margin-top: 0;
      }

      markdown > p:last-child {
        margin-bottom: 0;
      }
  
      p {
        line-height: 1.5;
      }
    }
  }

  ion-row.search-area-row {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  ion-col.search-and-facet-column {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    margin-right: 12px;
    padding-left: 0;
  }

  ion-col.search-result-column {
    width: 100%;
    max-width: 1000px;
  }
  
  ion-icon.settings-icon.icon {
    font-size: 1.8em;
  }

  .word_count span{
    display: inline-block;
    padding-left: 1rem;
  }

  ul {
    list-style-type: none;
  }

  .filter-button {
    font-size: 2.8rem;
  }

  .searchbar {
    color: white;
  }

  .info-toolbar {
    width: 100%;
  }

  .hits-column {
    width: 100%;
    height: 100%;
  }

  .hits-column ion-list.hits-list-wrapper {
    width: 100%;
  }

  .hits-column ion-item.hitItem {
    background-color: transparent;
  }

  .hits-column ion-item.hitItem + ion-item.hitItem {
    border-top: 1px solid var(--elastic-search-hititem-divider-color);
  }

  .hits-column ion-item.hitItem:hover {
    background-color: rgba(var(--elastic-search-hititem-hover-background-color-rgb), var(--elastic-search-hititem-hover-background-color-alpha)) !important;
  }

  .hits-column ion-row.searchHits {
    margin-bottom: 1rem;
  }

  /* Currently not used */
  .infinite-scroll-wrapper {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;

    ion-infinite-scroll-content {
      align-items: center;
      align-content: center;
    }

    .infinite-loading {
      margin: auto;
    }
  }

  .load-more-hits-wrapper {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;

    button.button {
      font-size: 0.875rem;
      height: 2rem !important;
    }

    ion-spinner.loading {
      padding: 1rem 0;
    }
  }

  .date-histogram-wrapper {
    border: 1px solid var(--elastic-search-facet-border-color);
    border-radius: 3px;
    margin: 20px 0 0 0;
    padding: 10px;

    .years-heading {
      margin-bottom: -14px;
    }
  }

  .sort-by-wrapper {

    ion-item.item {
      background-color: transparent;
    }

    .input-wrapper {
      justify-content: flex-end;
    }

    .sort-by-label {
      flex: 0;
      margin: 0;
      padding: 13px 8px 13px 13px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 1px solid var(--elastic-search-facet-border-color);
      border-right: 0;
      background-color: var(--elastic-search-facet-background-color);
      color: #6e6e6e;
    }

    .sort-by-select {
      max-width: 300px;
      padding: 13px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border: 1px solid var(--elastic-search-facet-border-color);
      border-left: 0;
      background-color: var(--elastic-search-facet-background-color);
    }
  }

  .segment-md .segment-button {
    font-size: 1rem;
    text-transform: none;
  }

  .searchStatus {
    color: $grey-color;
    justify-content: center;
  }

  ion-item.item.item-block.item-md {
    .item-inner {
      border-bottom: none;
    }
  }

  ion-item.item.item-block.item-md {
    cursor: pointer;

    .itemHeading {
      padding-left: 20px;
      font-weight: bold;
      color: $blackish-color;
    }

    .highlight {
      color: $blackish-color;

      em {
        background-color: var(--elastic-search-search-match-highlight-background-color);
        color: var(--elastic-search-search-match-highlight-text-color);
        padding: 0.2rem 6px;
        line-height: 2.4rem;
        font-style: normal;
      }
    }

    // List of facets
    ion-list.facets {
      margin: 0 0 0 20px;

      ion-item.item.item-block.item-md.facet {
        min-height: 1rem;

        ion-checkbox.checkbox-md {
          margin: 5px;
        }
      }
    }
  }

  .searchContainer {
    display: flex;
    align-items: stretch;
  }

  ion-icon.rotate.open {
    transform: rotate(90deg);
    transition: transform ease-in-out .15s;
  }

  ion-icon.closed {
    transition: transform ease-in-out .15s;
  }

  ion-icon[name="refresh"],
  ion-icon[name="close"] {
    padding-bottom: 0 !important;
  }

  .selectedFacetGroups {
    ion-toolbar.toolbar {
      max-height: unset !important;
      min-height: unset !important;
    }

    .toolbar-background {
      background-color: transparent !important;
    }

    .toolbar-content {
      margin: 0.75rem 0;
    }

    .toolbar-title {
      color: #000;
    }

    .suggested-facets-heading {
      font-size: 1.375rem;
      line-height: 1;
      margin-bottom: 0.75rem;
    }

    .selectedFacetButton {
      height: 1.875rem !important;
      font-size: 0.8125rem;

      ion-icon {
        font-size: 1.375rem;
      }
    }
  }

  .facet-group-wrapper {
    ion-item.item {
      background-color: var(--elastic-search-facet-background-color);
    }

    .facet-item {
      margin: 5px 0;
      padding-bottom: 1rem;
      border: 1px solid var(--elastic-search-facet-border-color);
      border-radius: 3px;
    }

    .accordion-item {
      margin: 0 !important;

      .facet {
        padding: 0;

        ion-checkbox {
          margin-right: 15px !important;
        }
      }

      ion-label {
        font-weight: 600;
      }

      .accordion-arrow {
        font-size: 1.5em;
      }

      .show-more-button {
        height: 1.875rem !important;
        font-size: 0.8125rem;
      }
    }
  }

  .hits-heading {
    padding-left: 1rem;
    font-size: 1.75rem;
    margin-top: 0.375rem !important;
  }

  .searchbar-wrapper {
    position: relative;
    margin: 10px 0;

    .searchInput {
      resize: none;
      text-indent: 26px;
      width: 100%;
      border-radius: 2px;
      padding: 6px 8px;
      box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      border: none !important;
    }

    .removableSearchInput {
      width: 100%;
      text-indent: 0;
    }

    ion-icon {
      position: absolute;
    }

    ion-icon.searchIcon {
      font-size: 1.25rem !important;
      top: 0;
      left: 0;
      background-color: #fff;
      color: #555;
      padding: 4px 8px 3px 10px;
      border-radius: 2px;
    }
  }

  .additional-searchbar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    ion-label.and-search-input-label {
      margin: 0 8px 0 0;
      width: fit-content;
      max-width: fit-content;
    }

    ion-icon.removeIcon {
      position: static;
      cursor: pointer;
      margin-left: 8px;
      font-size: 1.375rem !important;
    }
  }

  .add-search-bar-wrapper {
    button.button {
      height: 1.875rem !important;
      margin: auto 0;
      font-size: 0.8125rem;
    }
  }
}

.alert-wrapper .alert-title {
  font-size: 1rem;
}

.alert-md .alert-tappable {
  min-height: 3.4rem;
}

.alert-radio-group {
  padding: 16px;
}
