page-music {
    .page-title {
		margin-left: 5px;
	}

	.toolbar-ios ion-title {
		padding: 0;
		.toolbar-title-ios {
			text-align: left;
		}
	}

	.banner {
		position: relative;
		margin-top: 0.00em;
		padding-left: 0px;
		margin-left: 0px;
		height: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.banner:before {
		content: "";
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 0;
		/*background: rgba(0, 0, 0, 0.4);*/
	  }

	.foreground {
		width:100%;
	}

	.scroll-content .content.content-md {
		display: none;
	}

	.background {
		width: 100%;
		height: auto;

		img {
			width: 100%;
		}
	}

	.banner-title {
		font-family: var(--font-stack-home-banner);
		font-size: 4rem;
		font-weight: 600;
		line-height: 80px;
		color: white;

		@media only screen and (max-width: 650px) {
			font-size: 31px;
		}
	}

	.banner-subtitle {
		font-family: var(--font-stack-home-banner);
		font-size: 28px;
		font-weight: 300;
		font-style: italic;

		@media only screen and (max-width: 650px) {
			font-size: 22px;
		}
	}

	.person-text {
		font-family: var(--font-stack-home-banner);
		font-weight: 300;
	}

	.fp_h1 {
		font-size: 2rem;
	}

	.foreground {
		border-bottom: 5px solid $orange-color;
	}

	h1{
		text-transform: none;
	}

	h2{
		font-size: 1.6rem;
	}

	p{
		line-height: 1.8rem;
	}

	.scroll-content{
		@media only screen and (min-device-width : 640px) {
			margin-top: -30px !important;
		}
	}

	.banner{
		@media only screen and (min-device-width : 640px) {
			background-size: contain;
		}
	}
	.scroll-content{
		@media only screen and (min-device-width : 640px) {
			margin-top: -10px !important;
		}
	}
	.banner{
		@media only screen and (min-device-width : 640px) {
			background-size: contain;
		}
	}
}
