table-of-contents-accordion {
    .accordion-menu .list .list-md {
        background-color: #f2f2f2;
    }
    ion-label {
        cursor: pointer;
        transition: $opacity-hover-transition;
    }

    /* The toc items should not have a background color in them selves, thus the background color for the entire navigation panel shines through. */
    ion-item.item {
        background-color: unset;
    }

    ion-item.item:hover ion-label {
        opacity: $opacity-hover-toc-accordion;
    }

    ion-item.item:active ion-label {
        opacity: 1;
    }

    ion-item.item.selected-toc-item {
        font-weight: bold;
    }

    ion-item.item.collection-name-top {
        background-color: color($colors, secondary);
        min-height: 50px;
        font-weight: bold;
    }
    .collection-name-top ion-label {
        white-space: pre-wrap !important;
        cursor: auto;
        opacity: 1;
    }

    .collection-filters {
        ion-label {
            display: flex;
            justify-content: space-around;

            button {
                .button-inner ion-icon {
                    color: #e3e3e3;
                    font-size: 1.5rem;
                }

                &.active {
                    background-color: #4a6770;
                    .button-inner ion-icon {
                        color: #fff;
                    }
                }
                &:hover {
                    background-color: #4a6770 !important;
                    .button-inner ion-icon {
                        color: #fff;
                    }
                }
            }
        }
    }

    ion-item.item-ios [item-left], ion-item.item-ios [item-right],
    ion-item.item-md [item-left],
    ion-item.item-md [item-right],
    ion-item.item-wp [item-left],
    ion-item.item-wp [item-right] {
        margin-left: 0;
    }

    ion-item.item-ios ion-icon[item-left] + .item-inner, ion-item.item-ios ion-icon[item-left] + .item-input,
    ion-item.item-md ion-icon[item-left] + .item-inner,
    ion-item.item-md ion-icon[item-left] + .item-input,
    ion-item.item-wp ion-icon[item-left] + .item-inner,
    ion-item.item-wp ion-icon[item-left] + .item-input {
        margin-left: 8px;
    }

    ion-list.accordion-menu ion-item.header ion-icon.header-icon {
        will-change: transform;
        transition: transform 0.3s ease;
    }

    .item.item-block.item-md.option {
        margin: 0 !important;
    }

    .options.recursive-suboptions {
        margin-left: 20px;
    }

    .accordion-menu .list .list-md {
        background-color: #ecece4; /* should changed into variable */
    }

    ion-list.accordion-menu ion-item.header ion-icon.header-icon.rotate {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    ion-list.accordion-menu div.options {
        will-change: height;
        transition: height 0.3s ease;
        overflow-y: hidden;
        height: 0;
    }

    ion-list.accordion-menu ion-item.item.item-block.item-ios.no-icon .item-inner {
        margin-left: 48px;
    }

    ion-list.accordion-menu ion-item.item.item-block.item-md.no-icon .item-inner,
    ion-list.accordion-menu ion-item.item.item-block.item-wp.no-icon .item-inner {
        margin-left: 40px;
    }

    .recursive-suboptions {
        overflow-x: hidden;
    }

    ion-item ion-label span.description {
        color: #515151;
        font-weight: normal !important;
        font-size: 0.875rem;
    }

}
.list-ios > .item-block:first-child {
    border-top: none !important;
}
