<ion-header no-border>
  <ion-toolbar color="secondary" class="secondary">
    <ion-buttons>
        <ion-grid>
            <ion-row class="secondary-toolbar-icons-wrapper" nowrap align-items-center>
              <ion-col>
                <button ion-button clear (click)="showReference()" class="sec-menu-button">
                  <ion-icon class="urn-icon" name="share-alt"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.refer' | translate }}</span>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear (click)="showSharePopover($event)" class="sec-menu-button">
                  <ion-icon class="share-icon" name="share"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.share' | translate }}</span>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear #settingsIconElement (click)="showPopover($event)" class="sec-menu-button" id="settings-icon">
                  <ion-icon class="settings-icon" name="settings"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Read.Popover.Options' | translate }}</span>
                </button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <div [ngClass]="'toolTip tei ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')" [ngStyle]="{'top': toolTipPosition.top, 'left': toolTipPosition.left, 'max-width': toolTipMaxWidth, 'transform': 'scale(' + toolTipScaleValue + ')'}" [innerHTML]="toolTipText"></div>
            <div [ngClass]="'infoOverlay tei ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')" [ngStyle]="{'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}">
              <div class="infoOverlayHeader">
                <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()"></ion-icon>
              </div>
              <div class="infoOverlayContent" [innerHTML]="infoOverlayText"></div>
            </div>
            <ion-scroll scrollY="true" style="height:80vh;" class="card">
              <ion-spinner *ngIf="textLoading" class="loading" name="crescent"></ion-spinner>
              <div class="tei"
                [class.show_personInfo]="readPopoverService.show.personInfo"
                [class.show_placeInfo]="readPopoverService.show.placeInfo"
                [class.show_workInfo]="readPopoverService.show.workInfo"
                [class.show_pageNumbering]="readPopoverService.show.pageNumbering"
                [class.show_pageBreakEdition]="readPopoverService.show.pageBreakEdition"
              [innerHTML]="text" [ngClass]="(hasSeparateIntroToc ? 'hideIntro' : '') + ' ' +
              ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"></div>
            </ion-scroll>
        </ion-card-content>
    </ion-card>
    <nav id="TOC" *ngIf="hasSeparateIntroToc" [ngClass]="tocMenuOpen ? 'menuOpenTOC' : 'menuClosedTOC'">
        <div id="toc_menu" (click)="toggleTocMenu()" [ngClass]="tocMenuOpen ? 'menuOpenIcon' : 'menuClosedIcon'">
            <ion-icon name="menu" class="intro-toc-button" *ngIf="!tocMenuOpen"></ion-icon>
            <ion-icon name="close" class="intro-toc-button" *ngIf="tocMenuOpen"></ion-icon>
        </div>
        <div id="toc_text" [innerHTML]="textMenu" [ngClass]="tocMenuOpen ? 'menuOpen' : 'menuClosed'">
        </div>
    </nav>
</ion-content>
