<ion-content [class.portrait-mode]="imageOrientationPortrait" [class.title-on-image]="titleOnImage">
  <div class="banner" [class.image-on-right]="imageOnRight" [style.background-image]="imageUrlStyle">
    <div *ngIf="!imageOrientationPortrait || titleOnImage" class="title-wrapper">
      <h1 class="banner-title">{{appName}}</h1>
      <h3 *ngIf="appSubtitle" class="banner-subtitle">{{appSubtitle}}</h3>
    </div>
    <img *ngIf="imageOrientationPortrait" [src]="imageUrl" [alt]="portraitImageAltText">
  </div>

  <div class="text-content">
    <div *ngIf="imageOrientationPortrait" class="title-wrapper">
      <h1 class="site-title">{{appName}}</h1>
      <h3 *ngIf="appSubtitle" class="site-subtitle">{{appSubtitle}}</h3>
    </div>

    <div *ngIf="showSimpleSearch" class="front-page-simple-search">
      <simple-search [scrollableSimpleSearch]="true"></simple-search>
    </div>

    <div class="site-presentation">
      <markdown [data]="homeContent"></markdown>
    </div>

    <div *ngIf="showEditionList" class="front-page-edition-list">
      <digital-editions-list class="edition_boxes" [layoutType]="'auto'"></digital-editions-list>
    </div>

    <footer *ngIf="showFooter" class="footer">
      <markdown [data]="homeFooterContent"></markdown>
    </footer>
  </div>
</ion-content>
