home-page {

	/* This hides the vertical scrollbar on the right edge of the viewport area when it is not necessary to show it. Observe that there are two elements with class scroll-content, which is why this needs to be this specific. */
	ion-content > .scroll-content {
		overflow: auto;
		display: flex;
		flex-direction: column;
	}
	ion-content.portrait-mode > .scroll-content {
		flex-direction: row;
	}

	.banner {
		position: relative;
		margin: 0;
		padding: 0;
		height: 50%;
		min-height: 50%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.banner .title-wrapper {
		position: relative;
		float: left;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.banner-title,
	.banner-subtitle {
		font-family: $font-family-header;
		font-size: calc(1.375rem + 2.15vw);
		font-weight: normal;
		line-height: 1.5;
		color: #000;
		background-color: $background-color;
		opacity: 0.8;
		padding: 0 1rem;
	}

	.banner-subtitle {
		font-size: calc(1rem + 0.7vw);
		font-style: italic;
		display: inline-block;
	}

	.text-content {
		display: flex;
		flex-direction: column;
		margin: 1.5rem 3rem 0 3rem;
	}

	.text-content .front-page-edition-list {
		margin: 0 auto 3rem auto;
	}

	.text-content .footer {
		text-align: center;
		width: 100%;
		max-width: 1000px;
		margin: auto auto 0 auto;
		padding: 0 0 1.5rem 0;
	}

	.text-content .footer p {
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.6);
	}

	.portrait-mode .banner {
		height: 100%;
		min-height: 100%;
		width: 28.2%;
		min-width: 370px;
		background-image: none !important;
	}

	.portrait-mode .banner > img {
		width: 100%;
		height: auto;
	}

	.portrait-mode .banner.image-on-right {
		order: 1;
		margin-right: auto;
	}

	.portrait-mode .text-content {
		max-width: 1000px;
		margin-top: 0;
	}

	/*
	.portrait-mode .text-content .front-page-simple-search {
		order: 1;
	}

	.portrait-mode .text-content .front-page-edition-list {
		order: 2;
	}

	.portrait-mode .text-content .footer {
		order: 3;
	}
	*/

	.portrait-mode .site-title,
	.portrait-mode .site-subtitle {
		font-family: $font-family-header;
		font-size: 2.5em;
		font-weight: normal;
		line-height: 1.5;
		text-align: left;
		color: #000;
		padding: 0 0 0.5rem 0;
	}

	.portrait-mode .site-subtitle {
		font-size: 1.75em;
		font-style: italic;
		margin-top: -1.5rem;
	}

	.site-presentation {
		text-align: center;
		max-width: 1000px;
		margin: 0 auto 3rem auto;
	}

	.portrait-mode .site-presentation {
		text-align: left;
		margin: 0 0 3rem 0;
	}

	.portrait-mode .text-content .footer {
		margin-left: 0;
		margin-right: 0;
		text-align: left;
	}

	.front-page-simple-search {
		margin: 1.5rem auto 1.5rem auto;
		width: 100%;
		max-width: 800px;
	}

	.portrait-mode .front-page-simple-search {
		margin-left: 0;

		simple-search ion-grid.grid {
			padding: 0;
		}
	}

	.scroll-content .content.content-md {
		display: none;
	}

	.background {
		width: 100%;
		height: auto;

		img {
			width: 100%;
		}
	}

	.fp_h1 {
		font-size: 2rem;
	}

	.foreground {
		width:100%;
	}

	.foreground {
		border-bottom: 5px solid $orange-color;
	}

	h1 {
		text-transform: none;
	}

	h2 {
		font-size: 1.6rem;
		margin-top: 0;
	}

	p {
		line-height: 1.8rem;
	}

	.toolbar-ios ion-title {
		padding: 0;
		.toolbar-title-ios {
			text-align: left;
		}
	}
}
