home-page {

	/* This hides the vertical scrollbar on the right edge of the viewport area when it is not necessary to show it. Observe that there are two elements with class scroll-content, which is why this needs to be this specific. */
	ion-content > .scroll-content {
		overflow: auto;
	}

	.page-title {
		margin-left: 5px;
	}

	.toolbar-ios ion-title {
		padding: 0;
		.toolbar-title-ios {
			text-align: left;
		}
	}

	.banner {
		position: relative;
		margin-top: 0;
		padding-left: 0;
		margin-left: 0;
		height: 50%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.banner:before {
		content: "";
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 0;
		background: rgba(93, 106, 126, 0.4);
	  }

	.foreground {
		width:100%;
	}

	.scroll-content .content.content-md {
		display: none;
	}

	.background {
		width: 100%;
		height: auto;

		img {
			width: 100%;
		}
	}

	.banner-title,
	.banner-subtitle {
		font-family: $font-family-header;
		font-size: calc(1.375rem + 2.15vw);
		font-weight: normal;
		line-height: 1.5;
		color: #000;
		background-color: $background-color;
		opacity: 0.8;
		padding: 0 1rem;
	}

	.banner-subtitle {
		font-size: calc(1rem + 0.7vw);
		font-style: italic;
		display: inline-block;
	}

	/*
	@media only screen and (max-width: 650px) {
		.banner-title {
			font-size: 2rem;
		}
		.banner-subtitle {
			font-size: 1.375rem;
		}
	}
	*/

	.banner::before {
		background: rgba(93, 106, 126, 0) !important;
	}

	.fp_h1 {
		font-size: 2rem;
	}

	.foreground {
		border-bottom: 5px solid $orange-color;
	}

	h1 {
		text-transform: none;
	}

	h2 {
		font-size: 1.6rem;
		margin-top: 0;
	}

	p {
		line-height: 1.8rem;
	}

}


.person-text {
	font-family: $font-family-header;
	font-weight: 300;
}


footer {
	text-align: center;
	padding-bottom: 2rem;
}

footer p {
	font-size: 1rem;
	color: rgba($color: #000, $alpha: 0.6);
	margin: 0;
}

.front-page-simple-search {
	margin: 0 auto;
}
