text-changer {
    .goLeft{
        left: 0;
    }
    .forwardBackward {
      max-width: 80%;
      display: grid;
      grid-template-columns: [first] 30% auto [last] 30%;
      margin: auto;
    .forwardBackward__currentpage-name {
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
    }
    .forwardBackward__previouspage-name,
    .forwardBackward__nextpage-name {
      vertical-align: super;
      margin: 0 0.5rem;
      &:hover {
        text-shadow: 1px 0 0 currentColor;
      }
    }
    .forwardButton,
    .backwardButton {
      display: flex;
      align-items: center;
      hyphens: auto;
      background: transparent;
      overflow: hidden;
      &:hover .forwardBackward__previouspage-name,
      &:hover .forwardBackward__nextpage-name  {
        text-shadow: 1px 0 0 currentColor;
      }
      .forwardBackward__nextpage-name,
      .forwardBackward__previouspage-name {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .forwardButtonDiv {
      display: flex;
      justify-content: flex-end;
    }
    .backwardButtonDiv {
      display: flex;
    }
    }
    @media screen and (max-width: 800px) {
      .forwardBackward {
        max-width: 100%;
        padding: 0;
      }
    }
}

.text-changer-mobile-view {
    .forwardBackward {
        position: fixed;
        max-width: 100vw;
        width: 100vw;
        z-index: 9999;
        background-color: #cccccc;
        bottom: 0;
        left: 0;
        padding: 10px 1em;
        transform: none;
    }
}