<div class="forwardBackward">
  <div class="backwardButtonDiv">
    <button class="backwardButton" (click)="previous()">
      <ion-icon name="arrow-round-back"></ion-icon>
      <span class="forwardBackward__previouspage-name">{{prevItemTitle}}</span>
    </button>
  </div>
  <p class="forwardBackward__currentpage-name">{{currentItemTitle}}</p>
  <div class="forwardButtonDiv">
    <button class="forwardButton" (click)="next()">
      <span class="forwardBackward__nextpage-name">{{nextItemTitle}}</span>
      <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
  </div>
</div>
