text-changer {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 1.5rem;
  width: 100%;

  .forwardBackward {
    display: flex;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;

    .forwardButtonDiv,
    .backwardButtonDiv {
      width: 30%;
    }
    .forwardButtonDiv {
      display: flex;
      justify-content: flex-end;
    }
    .forwardBackward__currentpage-name {
      font-size: 15px !important;
      font-weight: bold;
      text-align: center;
      max-width: 40%;
      padding: 0 3rem;
      overflow: hidden;
    }

    .forwardBackward__currentpage-name p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      font-size: 16px !important;
    }

    .forwardBackward__previouspage-name {
      margin: 0 0 0 0.8em;
    }
    .forwardBackward__nextpage-name {
      margin: 0 0.8em 0 0;
    }
    .forwardButton,
    .backwardButton {
      display: flex;
      align-items: center;
      hyphens: auto;
      background: transparent;
      overflow: hidden;
      width: 100%;
      padding: 0 6px;
      &:hover .forwardBackward__nextpage-name,
      &:hover .forwardBackward__previouspage-name {
        text-shadow: 1px 0 0 currentColor;
        transition: text-shadow 0.2s;
      }
      .forwardBackward__nextpage-name,
      .forwardBackward__previouspage-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .forwardBackward__nextpage-name,
      .forwardBackward__previouspage-name {
        font-size: 15px !important;
      }
      ion-icon {
        font-size: 1.75rem !important;
      }
    }
    .forwardButton {
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 950px) {
    .forwardBackward {
      max-width: 100%;

      .forwardButtonDiv,
      .backwardButtonDiv {
        width: fit-content;
      }

      .forwardButton,
      .backwardButton {
        &:hover {
          opacity: $opacity-hover;
          transition: $opacity-hover-transition;
        }
      }

      .forwardBackward__currentpage-name {
        max-width: 100%;
      }

      .forwardBackward__previouspage-name {
        display: none;
      }
  
      .forwardBackward__nextpage-name {
        display: none;
      }
    }
  }
}

text-changer.text-changer-desktop-view {
  @media screen and (max-width: 600px) {
    .forwardBackward {
      justify-content: space-evenly;

      .forwardBackward__currentpage-name {
        display: none;
      }
    }
  }
}

text-changer.text-changer-mobile-view {
  margin: 0;

  .forwardBackward {
    position: fixed;
    max-width: 100vw;
    width: 100%;
    z-index: 1000;
    background-color: rgba(99,99,99, 0.4);
    bottom: 0;
    left: 0;
    padding: 10px 1em;
    transform: none;
    height: 50px;

    .forwardButtonDiv,
    .backwardButtonDiv {
      width: fit-content;
    }
    .forwardBackward__currentpage-name {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 450px) {
    .forwardBackward {
      .forwardBackward__currentpage-name p {
        font-size: 14px !important;
      }
    }
  }
}
