<div class="forwardBackward">
  <div class="backwardButtonDiv">
    <button class="backwardButton" (click)="previous()">
      <ion-icon name="arrow-round-back"></ion-icon>
      <p *ngIf="!(userSettingsService.isMobile()) && !(userSettingsService.isTablet())" class="forwardBackward__previouspage-name">{{prevItemTitle}}</p>
    </button>
  </div>
  <div class="forwardBackward__currentpage-name"><p>{{currentItemTitle}}</p></div>
  <div class="forwardButtonDiv">
    <button [disabled]="lastItem" class="forwardButton" (click)="next()">
      <p *ngIf="!(userSettingsService.isMobile()) && !(userSettingsService.isTablet())" class="forwardBackward__nextpage-name">{{nextItemTitle}} </p>
      <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
  </div>
</div>
