/* This hides the vertical scrollbar on the right edge of the modal when it is not necessary to show it. */
ion-content > .scroll-content {
	overflow: auto;
	padding: 16px 24px 24px 24px;
}

@media(max-width: 480px) {
	ion-content.content[padding] > .scroll-content {
		padding: 0;
	}
}

ion-title {
	margin-left: 12px;
}

.col {
	padding: 0 0 4px 0;
}

.close-button {
	margin-right: 12.8px;
	transition: $opacity-hover-transition;
}

.close-button:hover {
	opacity: $opacity-hover;
}

.close-button:active {
	opacity: 1;
}

.header {
	font-size: 1.375rem;
	white-space: initial;
}

.errorMessage {
	color: #8b0909;
	margin: 0.35em 0 0 0;
	white-space: normal;
}

.introductionMode .header-pub-title,
.readTextsMode .header-coll-title {
	display: none;
}
.readTextsMode .header-coll-title::before {
	content: " | ";
}

ion-item.item + ion-item.item ion-label.label {
	border-top: 1px solid #999;
	margin-top: 0;
	padding-top: 13px;
}

ion-item.item label {
	font-weight: bold;
}

ion-item.item p + p {
	margin-top: 0.5em;
}

.download-buttons {
	margin-top: 0.5em;
}

.download-buttons button.button {
	font-size: 0.8125rem;
	height: 1.875rem !important;
}

ion-spinner.loading.spinner-crescent {
	margin: 0;
	display: inline;
	float: right;
}
