<ion-header no-border>
  <ion-toolbar color="secondary" class="secondary">
    <ion-buttons>
        <ion-grid>
            <ion-row class="secondary-toolbar-icons-wrapper" nowrap align-items-center>
              <!--
              <ion-col>
                <button ion-button clear (click)="showReference()" class="sec-menu-button">
                  <ion-icon class="urn-icon" name="share-alt"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.refer' | translate }}</span>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear (click)="showSharePopover($event)" class="sec-menu-button">
                  <ion-icon class="share-icon" name="share"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.share' | translate }}</span>
                </button>
              </ion-col>
              -->
              <ion-col>
                <button ion-button clear #settingsIconElement (click)="showReadSettingsPopover($event)" class="sec-menu-button" id="settings-icon">
                  <ion-icon class="settings-icon" name="settings"></ion-icon>
                  <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Read.Popover.Options' | translate }}</span>
                </button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="hasDigitalEditionListChildren" class="">
    <digital-edition-list-children [layoutType]="'auto'" [childrenPdfs]="childrenPdfs" [collectionID]="collectionID"></digital-edition-list-children>
  </div>
  <ion-card *ngIf="!hasDigitalEditionListChildren">
    <ion-card-content>
      <ion-scroll scrollY="true" style="height:80vh;" class="card">
        <div *ngIf="hasMDTitle && mdContent && !hasDigitalEditionListChildren" class="tei teiContainer md_content">
          <markdown [data]="mdContent"></markdown>
        </div>
        <div *ngIf="!hasMDTitle && !hasDigitalEditionListChildren" class="tei teiContainer"
        [innerHTML]="text" [ngClass]="((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"></div>
      </ion-scroll>
    </ion-card-content>
  </ion-card>
</ion-content>
