page-title {

  ion-card {
    max-width: 710px;
  }

  .card-content {
    height: 100%;
    padding: 0;
  }

  .card-content > ion-scroll {
    height: 100% !important;
  }

  .scroll-content {
    display: flex;
  }

  .scroll-zoom-wrapper {
    padding: 6px;
  }

}
