page-title {

  ion-card {
    height: 100% !important;
    padding: 0 !important;
    max-width: 710px;
    background-color: $read-columns-background-color !important;
  }

  .card-content {
    height: 100%;
    padding: 0;
  }

  .card-content > ion-scroll {
    height: 100% !important;
  }

  /* This hides the vertical scrollbar on the right edge of the viewport area when it is not necessary to show it. Observe that there are two elements with class scroll-content, which is why this needs to be this specific. */
  ion-content > .scroll-content {
    overflow: auto;
  }

  .scroll-content {
    overflow: hidden;
    margin-bottom: 1rem;
  }

  ion-scroll {
    height: 100% !important;
    padding: 0 !important;
  }

  .scroll-content {
    display: flex;
  }

  .scroll-zoom-wrapper {
    width: 100%;
    padding: 6px;
  }

  @media screen and (max-width: 450px) {
 
    /* Minska padding på mycket små skärmar. */
    ion-content > .scroll-content {
      padding: 0 !important;
    }
    ion-scroll > .scroll-content {
      padding: 6px !important;
    }
  }

  /* Cover image on title page. */
  .tit_figure_graphic {
    max-width: 50%;
    display: block;
    margin: 1rem auto 0 auto;
  }
  @media screen and (max-width: 600px) {
    .tit_figure_graphic {
        max-width: 70%;
    }
  }
  @media screen and (max-width: 450px) {
    .tit_figure_graphic {
        max-width: 90%;
    }
  }
}
