illustrations {
  .illustration-image-wrapper {
    margin: 10px 0;
    img {
      cursor: zoom-in;
      width: auto;
      height: auto;
    }
  }
  .scroll-to-illustration-button {
    text-transform: initial;
  }
}
