digital-editions-list {
    .download {
        position: absolute;
        top: 0;
        right: 0.5em;
        color: rgba($color: #000000, $alpha: 0.3)
    }
    .card-content-md{
      padding: 0px !important;
    }
    .card{
        cursor: pointer;
    }
    .col-mobile{

    }
    .grid-mobile{

    }
    .card-md {
        ion-card-content {
            h2 {
               word-break: keep-all;
               margin-bottom: 1em;
               font-size: 1.3125rem;
            }
            p {
                text-align: left;
                font-size: 1rem;
                margin-bottom: 0.8rem;
                line-height: 1em;
            }
        }
    }
    .book_download_container {
      display: flex;
      justify-content: space-evenly;
    }
    .book_download_container p{
      display: flex;
      font-size: 1.2em;
    }

    .list .book_download_container {
      justify-content: start;
    }

    .download_link{
      border-bottom: 1px solid;
      border-bottom-color: color($colors, primary) !important;
    }

    .download_link p{
      margin-bottom: 0.1em !important;
    }
}
