/*  
  This file contains CUSTOM SASS VARIABLES USED IN THIS APP and must not contain any style rules.

  Overrides to Ionic's Sass variables belong in src/theme/variables.scss which imports this file.

  ALL CUSTOM STYLE RULES which should apply globally, including @font-face font loading rules which should be added before any styles, belong in src/app/app.scss.

  Other custom style rules belong in the individual scss-files for components and pages.
*/


// Move @font-face rules to app.scss
@font-face {
  font-family: "Muli";
  src: url(../assets/fonts/Muli-Regular.ttf) format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Muli";
  src: url(../assets/fonts/Muli-Italic.ttf) format("truetype");
  font-display: fallback;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Muli";
  src: url(../assets/fonts/Muli-Bold.ttf) format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Muli";
  src: url(../assets/fonts/Muli-BoldItalic.ttf) format("truetype");
  font-display: fallback;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Muli";
  src: url(../assets/fonts/Muli-SemiBold.ttf) format("truetype");
  font-display: fallback;
  font-weight: 600;
}
/*
@font-face {
  font-family: "Lora";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Lora-Regular.ttf) format("truetype");
}
*/


// CUSTOM FONT FAMILY VARIABLES
// --------------------------------------------------
$font-family-header:            $font-family-base;
$font-family-top-menu:          $font-family-base;
/*$font-read-column-p: $font-family-base;*/

// Tei fonts
/*$font-app-tei: Georgia,Times,"Times New Roman",serif;
$font-app-tei: "Muli", Times, "Times New Roman", serif;
$font-comment-modal-tei: "Muli", 'Open Sans', Arial, sans-serif;
$font-semantic-data-model-tei: "Muli", 'Open Sans', Arial, sans-serif;
$font-stamp-print-tei: "Times New Roman", serif;
$font-tei-note-editorial: "Muli", arial, helvetica, sans-serif;
*/
$font-app-tei:                  $font-family-base;
$font-comment-modal-tei:        $font-app-tei;
$font-semantic-data-model-tei:  $font-app-tei;
$font-stamp-print-tei:          "Times New Roman", serif;
$font-tei-note-editorial:       $font-app-tei;



// CUSTOM FONT SIZE VARIABLES
// --------------------------------------------------
$text-fontsize-xsmall:          16px; // 1rem;
$text-fontsize-small:           17px; // 1.0625rem;
$text-fontsize-medium:          18px; // 1.125rem;
$text-fontsize-large:           19px; // 1.1875rem;
$text-fontsize-xlarge:          21px; // 1.3125rem;



// CUSTOM COLOR VARIABLES
// --------------------------------------------------
$persName-color:                #f9e0bf;
$placeName-color:               #dee8ca;
$workTitle-color:               #f7efba;
$changes-color:                 #ccc;
$normalisations-color:          #e6e6e6;
$abbreviations-color:           #ffe2fa;
$pageBreakOriginal-color:       #c34be1;
$pageBreakEdition-color:        #d58205;

$est-color:       #ccc;
$com-color:       #e1a462;
$ms-color:        #b0e162;
$inl-color:       #e162ac;
$tit-color:       #62c3e1;
$var-color:       #b262e1;
$tag-color:       #0fa14c;

$purple-color:    #413861;
$grey-color:      #666666;
$blackish-color:  #363636;
$orange-color:    #e1a462;
$white-color:     #fff;

$read-columns-background-color: #f8f8f8;
$back-button-color:						  #e8e4df; // Between secondary & $background-color
$back-button-text-color:				color($colors, dark);
$forward-arrow-color:					  color($colors, dark);
$divider-bg-color:              color($colors, secondary);



// OTHER CUSTOM VARIABLES
// --------------------------------------------------
$top-menu-left: 370px;
$top-menu-left-split-pane: 10px;
$corner-roundness: $popover-md-border-radius;
$opacity-hover: 0.6;
$opacity-hover-transition: 0.2s;



/* Borde vara en överflödig regel
.menu-inner .item-md p {
  white-space: normal !important;
}*/

/*
html {
  font-size: 16px !important;
}
*/

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.1rem;
}

.mainMenuItem {
  cursor: pointer;
}

// almost the same rule declared in tei_variants
.anchorScrollTarget img {
  font-size: 0.6rem;
  width: 0.6rem;
  display: inline;
}

// Same selectors with different decl in tei.scss. Combine?
img.symbol {
  width: 0.6rem;
  display: inline;
}

// almost the same rule declared in tei_variants
.teiVariant img {
  font-size: 0.9rem;
  width: 0.9rem;
  display: inline;
}

/* Den okände von Wright, tidslinje-tabell i markdown*/
/* feta den första kolumnen */
div.md_content markdown td:first-child {}
div.md_content markdown td {
  padding: 0.5em;
  line-height: 1.4;
  vertical-align: top;
}

/* Style the button that is used to open and close the collapsible content */
/* RADERA: torde vara en kvarleva från gamla eZTS
.collapsibleToggler {
  background-color: #F0F0F0;
  color: #d47f00;
  cursor: pointer;
  padding: 0;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.3em;
  font-family: Georgia, serif;
} */

/* Add a background color to the button when you move the mouse over it (hover)
.collapsibleToggler:hover {
  background-color: #E8E8E8;
} */

/* Style the collapsible content. Note: hidden by default
.collapsibleContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */



/* ??? */
ion-list-header ion-label {
  text-transform: unset;
}

.front-page-simple-search {
  display: none;
}

h1.mainH1Header {
  font-size: 1.6em;
  margin-bottom: 1em;
  font-weight: 700;
}
