/*  
  This file contains CUSTOM SASS VARIABLES and CUSTOM CSS PROPERTIES used in this app and must 
  not contain any style rules.

  Overrides to Ionic's Sass variables belong in src/theme/variables.scss which imports this file.

  ALL CUSTOM STYLE RULES which should apply globally, including @font-face font loading rules which should be added before any styles, belong in src/app/app.scss.

  Other custom style rules belong in the individual scss-files for components and pages.
*/

// CUSTOM FONT SIZE VARIABLES
// --------------------------------------------------
$text-fontsize-xsmall:          16px; // 1rem;
$text-fontsize-small:           17px; // 1.0625rem;
$text-fontsize-medium:          18px; // 1.125rem;
$text-fontsize-large:           19px; // 1.1875rem;
$text-fontsize-xlarge:          21px; // 1.3125rem;



// CUSTOM COLOR VARIABLES
// --------------------------------------------------
// These apply to tags for the different text types in search results
$est-color:       #5e5e5e;
$com-color:       #980202;
$ms-color:        #69863a;
$inl-color:       #c45495;
$tit-color:       #3f889e;
$var-color:       #803fa7;
$tag-color:       #0e7438;

$purple-color:    #413861;
$grey-color:      #666666;
$blackish-color:  #363636;
$orange-color:    #e1a462;
$white-color:     #fff;

$search-match-color:            #a5d7a5;

$forward-arrow-color:					  color($colors, dark);
$divider-bg-color:              color($colors, secondary);



// OTHER CUSTOM VARIABLES
// --------------------------------------------------
$top-menu-left: 370px;
$top-menu-left-split-pane: 10px;
$corner-roundness: $popover-md-border-radius;
$opacity-hover: 0.6;
$opacity-hover-transition: opacity 0.2s;



// CSS CUSTOM PROPERTIES
// --------------------------------------------------
:root {
  // Colors
  // Create css custom properties from the scss map $colours defined in variables.scss
  @each $key_name, $value in $colors {
    --#{$key_name}-color: #{$value};
  }
  --main-background-color:         #ecebe4;
  --persName-color:                #f9e0bf;
  --persName-color-rgb:              249, 224, 191;
  --placeName-color:               #dee8ca;
  --placeName-color-rgb:             222, 232, 202;
  --workTitle-color:               #f7efba;
  --workTitle-color-rgb:             247, 239, 186;
  --changes-color:                 #ccc;
  --changes-color-rgb:               204, 204, 204;
  --normalisations-color:          #e6e6e6;
  --normalisations-color-rgb:        230, 230, 230;
  --abbreviations-color:           #ffe2fa;
  --abbreviations-color-rgb:         255, 226, 250;
  --pageBreakOriginal-color:       #c34be1;
  --pageBreakEdition-color:        #d58205;
	--infoOverlay-bg-color:          #333;
	--infoOverlay-text-color:        #e3e3e3;
  --main-toc-hover-color:            var(--primary-color);
  --read-columns-background-color: #fafafa;
  --back-button-bg-color:          #e8e4df; // Ideally something between secondary color & $background-color
  --back-button-text-color:          var(--dark-color);
  --tooltip-bg-color:              #fafafa;

  // Font stacks
  --system-font-stack:               -apple-system, BlinkMacSystemFont, "Segoe UI",
                                     Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                                     "Helvetica Neue", sans-serif;
  --app-base-font-stack:             "Inter", var(--system-font-stack);
  --home-banner-font-stack:          var(--app-base-font-stack);
  --top-menu-font-stack:             var(--app-base-font-stack);
  --tei-font-stack:                  "SourceSerif", Constantia, "Lucida Bright",
                                     Lucidabright, "Lucida Serif", Lucida,
                                     "DejaVu Serif", "Bitstream Vera Serif",
                                     "Liberation Serif", Georgia, serif;
  --tei-blackletter-font-stack:      "Inter", var(--system-font-stack);
  --tei-print-stamp-font-stack:      Cambria, "Hoefler Text", Utopia,
                                     "Liberation Serif", "Nimbus Roman No9 L Regular",
                                     Times, "Times New Roman", serif;
  --tei-editorial-note-font-stack:   "Helvetica Neue", "Arial Nova", Helvetica,
                                     Arial, sans-serif;
}



h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.125rem; /* 18px when 1em = 16px */
}

.mainMenuItem {
  cursor: pointer;
}

/* Den okände von Wright, tidslinje-tabell i markdown*/
/* feta den första kolumnen */
div.md_content markdown td:first-child {}
div.md_content markdown td {
  padding: 0.5em;
  line-height: 1.4;
  vertical-align: top;
}

/* Style the button that is used to open and close the collapsible content */
/* RADERA: torde vara en kvarleva från gamla eZTS
.collapsibleToggler {
  background-color: #F0F0F0;
  color: #d47f00;
  cursor: pointer;
  padding: 0;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.3em;
  font-family: Georgia, serif;
} */

/* Add a background color to the button when you move the mouse over it (hover)
.collapsibleToggler:hover {
  background-color: #E8E8E8;
} */

/* Style the collapsible content. Note: hidden by default
.collapsibleContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */



/* ??? */
ion-list-header ion-label {
  text-transform: unset;
}

h1.mainH1Header {
  font-size: 1.6em;
  margin-bottom: 1em;
  font-weight: 700;
}
