div.tei.teiVariant {

    /* This rule doesn't seem to have any effect in variants and is anyway really badly formed. */
    /*
    p[class*="p"]{
        text-indent: 30px !important;
    }
    */
    
    h4 {
        margin: 1em 0 .5em !important;
        font-size: 1.0589em;
    }
    
    h3 {
        margin: 1.1em 0 .6em !important;
        font-size: 1.1765em;
        font-variant: initial !important;
    }

    img {
        width: 0.9rem;
        display: inline-block;
    }

    .variantScrollTarget {
        cursor: pointer;
    }

    .variantScrollTarget.highlight {
        font-weight: bold;
    }

    .anchorScrollTarget {
        cursor: pointer;
    }

    .var_margin {
        position: absolute;
        left: -1em;
        text-indent: 1.25em !important;
    }
}

.teiVariant.ref_variant + .teiVariant.ref_variant {
    margin-left: -0.125em;
}

p.strofeSpacing {
    padding-bottom: 1em !important;
}
