div.tei {
    p.teiComment {
        &.noteLegend {
            text-indent: 0;
            margin-bottom: 0.5rem;
            font-size: 0.875em;
        }
    
        &.note {
            margin-top: 1rem;
            cursor: pointer;
            padding-left: 0;
            text-indent: 0;
        }

        &.paragraphSpace {
            padding-bottom: 0 !important;
        }
    }

    span.teiComment {
        &.notePosition {
            font-weight: normal !important;
            font-size: 0.6875em;
            font-style: italic;
        }

        &.notePosition::after {
            content: " ";
        }
        
        &.noteLemma {
            font-style: italic;
            font-weight: bold;
        }

        &.noteLemma::after {
            content: " – ";
            font-style: normal;
            font-weight: normal;
        }
        
        &.lemmaBreak {
            font-style: normal;
        }
    }
}

/* Used for? */
span.seg img {
    width: 0.5em;
}