// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:       #000000;
$background-color: #f3f1ea;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
	primary:	#538494,
	secondary:	#e4dcca,
    dark:		#222,
    light:		#D3DD9F
);

// Custom colors for semantic code etc.
$persName-color: #f9e0bf;
$placeName-color: #dee8ca;
$workTitle-color: #f7efba;
$changes-color: #ccc;
$est-color: #ccc;
$com-color: #e1a462;
$ms-color: #b0e162;
$inl-color: #e162ac;
$tit-color: #62c3e1;
$var-color: #b262e1;
$tag-color: #0fa14c;
$normalisations-color: #e6e6e6;
$abbreviations-color: #ffe2fa;
$pageBreakOriginal-color: #c34be1;
$pageBreakEdition-color: #d58205;
$purple-color: #413861;
$grey-color: #666666;
$blackish-color: #363636;
$orange-color: #e1a462;
$white-color: #fff;


$fab-content-margin: 0;

// Use the primary color as the background for the toolbar-md-background
$toolbar-background:                   color($colors, primary);

// Use the default background for the tabbar since it inherits from toolbar
$tabs-background:                      color($colors, primary);

// Change the color of the tabs text
$tabs-tab-color-active:                #fff;
$tabs-tab-color-inactive:              #fff;

// Change the color of the segment button text
$toolbar-active-color:                 #fff;
$toolbar-inactive-color:               #fff;
$segment-button-text-color-activated:  #fff;

$back-button-color:						color($colors, secondary);
$back-button-text-color:				color($colors, dark);
$forward-arrow-color:					color($colors, dark);
$divider-bg-color:                      color($colors, light);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Change #000 to any color to see the md text color change
//$text-md-color:                       $text-color;

// Use the default color as the background for the toolbar-md-background
$toolbar-md-background:                 $toolbar-background;

// Use the default background for the tabbar since it inherits from toolbar
$tabs-md-background:                    $tabs-background;

$fab-md-box-shadow: none;
// Change the color of the tabs text
$tabs-md-tab-color-active:              #fff;
$tabs-md-tab-color-inactive:            #fff;

// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;
$toolbar-md-inactive-color:               #fff;
$segment-button-md-text-color-activated:  #fff;
//$item-md-detail-push-show: true;

$card-md-title-text-color: color($colors, dark);
$card-md-box-shadow: none;
$card-md-background-color: #fff;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// Custom variables

$top-menu-left: 370px;
$top-menu-left-split-pane: 10px;

$font-family-base:'Open Sans',Arial,sans-serif;
$font-family-header:'Open Sans',Arial,sans-serif;

// Project specific variables
@import "project-variables.scss";


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";

.searchbar-search-icon{
	left: 1rem !important;
	top: 0.5rem !important;
	width: 2rem !important;
	height: 2rem !important;
}

.filter-button {
	font-size: 2rem !important;
}

.button-md{
	height: 2.3rem !important;
}

.tei.heading{
    font-size: 1.3rem !important;
    text-transform: none;
}

.tei.places{
    font-size: 1.0rem;
    color: #78756f;
}

.tei.collections{
    font-size: 1rem;
    color: #78756f;
}

.tei h2{
    padding-top: 1em;
    font-size: 1em !important;
}

.tei.place_name,.onki_province,.collection{
    color: #78756f;
}

match {
	background-color: transparent !important;
}

.selected-toc-item p{
	font-weight: bold;
}

img[src*="#fsfd_bild_md_left"] {
    padding: 2px;
    border: 1px solid #c4c4b1;
    float: left;
    margin-right: 10px;
}

img[src*="#fsfd_bild_md_right"] {
    padding: 2px;
    border: 1px solid #c4c4b1;
    float: right;
    margin-left: 10px;
}

blockquote{
    font-style: italic;
    font-weight: 600;
}

.toolbar-background{
    background-color: #A6AEBD;
}

.content {
    background-color: #ECEBE4 !important;
}

/* test
.item {
    background-color: #ECEBE4 !important;
}*/

.description{
    white-space: normal;
    line-height: 1.4rem !important;
}
.media_description {
    float: left;
}

