page-occurrences {
    ion-content > .scroll-content {
        overflow: auto;
    }

    .custom-card {
        background-color: white;
    }

    .grid{
      padding: 0%;
    }

    .grid ion-col{
      padding-left: 0%;
    }

    .description {
      padding-left: 0.3rem;
    }

    .close-button {
        margin-right: 10px;
    }

    .info{
        white-space: normal;
    }

    .info h3{
        font-size: 2rem;
    }

    .info{
        .occupation{
            font-size: 1.6rem;
        }
        .title{
            font-size: 1.6rem;
        }
    }

    ion-title {
        margin-left: 14px;

        /*
        div {
            font-size: 1.4rem !important;
        }
        */
    }

    .collectionName{
        max-width: 60%;
        min-width: max-content;
    }

    .displayName{
        min-width: min-content;
    }

    .map{
        height: 200px;
        position: inherit;
    }

    .map_hidden{
        display: none;
    }

    .map_icon{
        position: absolute;
        right: 0.3em;
        top: 0;
    }

    .header{
        font-weight: normal;
    }

    .map_item_hidden{
        display: none;
    }

    .col{
        white-space: normal !important;
    }

    span{
        font-size: 1rem;
    }

    .media_image_wrapper {
        margin-top: 1rem;
    }

    .media_image_wrapper img{
        width: auto !important;
    }

    .media_description {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .toolbar-title{
        text-align: left;
    }

    .article_count{
        float:left;
        margin-right: 1rem;
        height: 100%;
    }
    .article_description{
        white-space: normal;
        max-width: 100%;

    }
    .article_link{
        margin-bottom: 1rem;
    }
    .forward-arrow-span{
      float: right;
    }
    .forward-arrow-span ion-icon{
      font-size: 1.4rem;
    }
    .collection_name_label {
      background-color: $background-color;
    }
    .collection_name_label ion-label{
      white-space: normal;
      padding-top: 0.8rem;
    }
    .publication_name_label ion-label{
      white-space: normal;
      margin-top: middle;
    }
    .occurrences_list ion-label{
      margin: auto;
    }
    .row{
      border-bottom: $background-color 1px solid;
    }
    ion-label{
      color: $text-color;
    }
  }
