@import "../../../theme/variables.scss";

ion-label {
    cursor: pointer;
    overflow: hidden !important;
}

/* The toc items should not have a background color so that the background color for the entire navigation panel shines through. */
ion-item.item {
    background-color: unset;
    padding-left: 12px;
    border-left: 4px solid transparent;
}

ion-item.item.back-to-list-button {
    padding-left: 12px;
    border-left: 4px solid transparent;
}

ion-item.item:hover,
ion-item.item.back-to-list-button:hover {
    border-left-color: var(--toc-hover-color) !important;
}

ion-item.item.selected-toc-item {
    font-weight: var(--toc-selected-item-font-weight);
    background-color: var(--toc-selected-item-background-color);
    border-color: var(--toc-selected-item-border-color);
}

ion-item.item.selected-toc-item p {
    color: var(--toc-selected-item-text-color);
}
ion-item.item.selected-toc-item ion-label span.description {
    color: var(--toc-selected-item-description-text-color) !important;
}
ion-item.item.selected-toc-item div.item-inner {
    border-color: var(--toc-selected-item-divider-color) !important;
}
ion-item.item.selected-toc-item ion-icon {
    color: var(--toc-selected-item-arrow-color) !important;
}

ion-item.item.item.collection-name-top {
    color: var(--toc-collection-title-text-color);
    background-color: var(--toc-collection-title-background-color);
    padding-left: 16px;
    border-left: 0;
    min-height: 50px;
    font-weight: bold;
}
.collection-name-top ion-label {
    white-space: pre-wrap !important;
    cursor: auto;
    opacity: 1 !important;
}

.toc-stick-to-top-items {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;

    ion-item.item.back-to-list-button {
        position: initial;
        top: initial;
    }
}

/* These are styles for the buttons for sorting the TOC. */
.collection-filters {
    ion-label {
        display: flex;
        justify-content: space-around;

        button {
            .button-inner ion-icon {
                color: #e3e3e3;
                font-size: 1.5rem;
            }

            &.active {
                background-color: #4a6770;
                .button-inner ion-icon {
                    color: #fff;
                }
            }
            &:hover {
                background-color: #4a6770 !important;
                .button-inner ion-icon {
                    color: #fff;
                }
            }
        }
    }

    &.item.item-block:hover {
        padding-left: 16px !important;
        border-left: 0 !important;
    }

}

/* These are styles for the ion-select for selecting how the TOC should be sorted. */
.collection-filters-select {
    border-left-width: 0 !important;
}
.collection-filters-select > .item-inner > .input-wrapper {
    padding: 4px 4px 4px 8px;
    border: 1px solid #888;
    border-radius: $corner-roundness;
    margin: 24px 0;
    background-color: #fafafa;
}
.collection-filters-select > .item-inner > .input-wrapper > ion-label {
    width: min-content;
    color: #666;
    margin: 6px 8px 6px 0;
}
.collection-filters-select > .item-inner > .input-wrapper > ion-select {
    max-width: 100%;
    padding: 6px 8px 6px 6px;
    flex: 2;

    .select-text {
        padding-right: 2px;
        text-align: right;
    }
}

ion-item.item-ios [item-left], ion-item.item-ios [item-right],
ion-item.item-md [item-left],
ion-item.item-md [item-right],
ion-item.item-wp [item-left],
ion-item.item-wp [item-right] {
    margin-left: 0;
}

ion-item.item-ios ion-icon[item-left] + .item-inner, ion-item.item-ios ion-icon[item-left] + .item-input,
ion-item.item-md ion-icon[item-left] + .item-inner,
ion-item.item-md ion-icon[item-left] + .item-input,
ion-item.item-wp ion-icon[item-left] + .item-inner,
ion-item.item-wp ion-icon[item-left] + .item-input {
    margin-left: 8px;
}

ion-list.accordion-menu ion-item.header ion-icon.header-icon {
    will-change: transform;
    transition: transform 0.3s ease;
}

.item.item-block.item-md.option {
    margin: 0 !important;
}

div.recursive-suboptions > ion-item.item,
div.recursive-suboptions > ion-list.accordion-menu > ion-item.item {
    padding-left: 32px;
}

div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-item.item,
div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > ion-item.item {
    padding-left: 52px;
}

div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-item.item,
div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > ion-item.item {
    padding-left: 72px;
}

div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-item.item,
div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > div.recursive-suboptions > ion-list.accordion-menu > ion-item.item {
    padding-left: 92px;
}

div.recursive-suboptions > ion-list.accordion-menu > ion-item.item:hover {
    border-left-color: var(--toc-hover-color) !important;
}

ion-list.accordion-menu ion-item.header ion-icon.header-icon.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

ion-list.accordion-menu div.options {
    will-change: height;
    transition: height 0.3s ease;
    overflow-y: hidden;
    height: 0;
}

ion-list.accordion-menu ion-item.item.item-block.item-ios.no-icon .item-inner,
ion-list.accordion-menu ion-item.item.item-block.item-md.no-icon .item-inner,
ion-list.accordion-menu ion-item.item.item-block.item-wp.no-icon .item-inner {
    margin-left: 40px;
}

.recursive-suboptions {
    overflow-x: hidden;
}

ion-item ion-label span.description {
    color: var(--toc-description-text-color);
    font-weight: normal !important;
    font-size: 0.875rem;
    line-height: 1.3 !important;
}

div.aboutMarkdown ion-item {
    padding-left: 32px;
}

div.songTypesMarkdown ion-item {
    padding-left: 48px;
}

.list-ios > .item-block:first-child {
    border-top: none !important;
}
