// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// @font-face rules should go here!



// START OF ORIGINAL VARIABLES.SCSS RULES
.searchbar-search-icon{
	left: 1rem !important;
	top: 0.5rem !important;
	width: 2rem !important;
	height: 2rem !important;
}

.filter-button {
	font-size: 2rem !important;
}

.button-md{
	height: 2.3rem !important;
}

.tei.heading{
    font-size: 1.3rem !important;
    text-transform: none;
}

.tei.places{
    font-size: 1.0rem;
    color: #78756f;
}

.tei.collections{
    font-size: 1rem;
    color: #78756f;
}

/*
.tei h2{
    padding-top: 1em;
    font-size: 1em !important;
}
*/

.tei.place_name,.onki_province,.collection{
    color: #78756f;
}

/* Search match, also defined in read-text.scss. */
match {
	background-color: transparent !important;
}

img[src*="#fsfd_bild_md_left"] {
    padding: 2px;
    border: 1px solid #c4c4b1;
    float: left;
    margin-right: 10px;
}

img[src*="#fsfd_bild_md_right"] {
    padding: 2px;
    border: 1px solid #c4c4b1;
    float: right;
    margin-left: 10px;
}

blockquote{
    font-style: italic;
}

/* This applies to descriptions in TOC, but unclear why declared here and not in table-of-contents-accordion.scss */
.description {
    white-space: normal;
    line-height: 1.4rem !important;
}
.media_description {
    float: left;
}














// START OF ORIGINAL APP.SCSS RULES

body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

ion-split-pane {
  top: 60px !important;

  .split-pane-side {
    width: 0;
    transition: 1s all ease-in;
    position:relative;
    max-width: 0 !important;
  }
}

ion-label {
  overflow: visible!important;
}

.selectable { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

ion-app, ion-app.md {
  font-family: $font-family-base;
  font-size: 1.4rem;
  background-color: #fff;
}

mark {
  background-color: $purple-color !important;
  color: white;
}

h1 {
 /* background-color: color($colors, light);
  margin: 0 -16px;
  padding: 30px 16px;*/
  margin-top: 1.2rem;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: 700;
}

.card-md p {
  font-size: 1.2rem;
  /*font-weight: 100;*/
}

p, blockquote {
  font-family: $font-family-base;
  line-height: 2.2rem;
}

.ion-page {
  min-width: 200px;
  overflow: hidden;
}

.md .modal-wrapper {
  border-radius: $popover-md-border-radius;
}

.facsimile-zoom-modal, .illustration-modal {

  .close-button {
    font-size: 3rem;
    margin-right: 1.2rem;
  }

  .modal-wrapper {
    // position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;

    .content {
      background-color: rgba(0,0,0,0.0) !important;
    }

    img {
      height: auto;
      width: auto;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-sizing: border-box;
      margin: auto;
    }
  }
}

/** List */

.list-item-spacing .list .item-inner {
  /*padding-top: 10px;
  padding-bottom: 10px;
  */
}

.back-to-list-button {
  background-color: var(--back-button-bg-color) !important;

  .back-button-text {
    color: var(--back-button-text-color);
    font-size: 1rem;
  }
  ion-icon,
  ion-label {
    color: var(--back-button-text-color);
  }
  &.item-md ion-icon[item-left] + .item-inner {
    margin-left: 0;
  }
  p{
    color: var(--back-button-text-color) !important;
    font-size: 1rem !important;
  }
  .label{
    margin-top:0px;
    margin-bottom:0px;
  }
  position: sticky;
  top: 0;
  z-index: 999;
}

/** Banner */

.banner {
    position: relative;
    margin-top: 55px;

    .foreground {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 16px;
        background: rgba(0,0,0,0.5);
    }

  /*.banner-title {
      @extend h1;
      font-family: $font-family-base;
      margin-top: 0;
  }
  .banner-subtitle {
      font-weight: bold;
  }*/
}

/** Logo and two rows in title */

ion-title {
  .logo {
    display: block;
    height: 58px;
    margin: 0 auto;
    float: right;
    // margin-left: 10px;
  }

  .toolbar-title{
    padding-right: 0px;
  }

  .page-title {
      font-size: 0.9rem;
      text-transform: uppercase;
      margin-bottom:0;
      font-weight: bold;
      margin-left: 5px;
  }

  .page-subtitle {
      font-size: 0.9rem;
      font-style: italic;
      margin-top: 0px;
  }
}
/** Toolbar */
.toolbar{

}
.header-md::after {
  display: none;
}

ion-navbar.toolbar {
  padding: 0;
}

ion-nav[main] {
  transition: width 2s;
}

.split-pane-md.split-pane-visible > .split-pane-side {
  border-right: none;
}

ion-menu {
  .page-title {
    margin-left: 5px;
  }

  ion-content {
    border-right: 1px solid #dedede;
  }

  ion-icon {
    color: $forward-arrow-color;
  }
}

ion-toolbar.secondary {

  .toolbar-content  {
    .toolbar-title {
      font-size: 1.5rem;
    }
  }
}

ion-row.secondary-toolbar-icons-wrapper {
  ion-icon {
    font-size: 1.75rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}

ion-label{
  font-size: 1rem;
}

ion-select{
  .select-text{
    font-size: 1rem;
  }
}

ion-list{
  ion-label{
    font-size: 1rem !important;
  }
}

ion-toolbar{
  ion-icon{
    font-size: 2rem;
  }
}

ion-fab{
  ion-icon{
    font-size: 1.5rem !important;
  }
}

.item-block{
  min-height: 2.2rem;
}

input{
  font-size: 1rem !important;
  line-height: 0rem !important;
}

.split-pane-md.split-pane-visible > .split-pane-side {
  max-width: 345px;
}

.front-page-list {
  .list-ios > .item-block:first-child {
    border-top: none !important;
  }
  .list-ios > .item-block:last-child {
    border-bottom: none !important;
  }
}

.item-white {
  background-color: white;

  ion-item {
    background-color: inherit;
    padding-top: 0;
    padding-bottom: 0;
  }

  .item-block .item-inner {
    border-bottom: 1px solid #e3dbc9;
  }

  ion-item.item.item-block {
    padding: 0;
    margin: 0;
  }

  ion-thumbnail {
    padding: 0 !important;
    margin: 0 !important;
  }

  h2 {
    margin-left: 15px;
    white-space: normal;
  }

  p {
    margin-left: 15px;
  }
}

.green-box {
  background-color: #d3de9c;
}

.brown-box {
  background-color: #e3dbc9;
}

.select-edition {
  p {
    text-decoration: none;
    position: relative;
  }
  p:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
  }
}

.item-md p {
  font-size: 1rem;
  color: color($colors, dark);
}

/* Previously this rule affected all divs and buttons, testing to limit the scope since it's otherwise a very problematic rule. The intention was probably to just affect the searchbar. */
.searchbar input, .searchbar div, .searchbar button {
  font-size: 1rem !important;
  line-height: 1rem !important;
}

.searchbar-input{
  height: 2rem !important;
}
.searchbar-ios{
  background-color: rgba(0,0,0,0.0);
}

#tableOfContentsMenu {
  .scroll-content {
    background-color: $background-color;
  }
}

/* Table of content styles for simple accordion lists, including nested lists*/
ion-menu {
  &#contentMenu ion-item.mainMenuItem,
  &#contentMenu ion-list.accordion-menu > ion-item.item,
  &#contentMenu ion-list.accordion-menu > div > ion-item.item,
  &#contentMenu .simple-accordion-options > div > ion-item.item {
    padding-left: 12px;
    border-left: 4px solid transparent;
    /*transition: border-left-color 0.1s;*/
  }
  &#contentMenu ion-item.mainMenuItem:hover,
  &#contentMenu ion-list.accordion-menu ion-item.item:hover {
    border-left-color: var(--main-toc-hover-color);
  }
  &#contentMenu .simple-accordion-options ion-list.accordion-menu > ion-item.item,
  &#contentMenu .simple-accordion-options ion-list ion-item.item,
  &#contentMenu ion-list.accordion-menu .simple-accordion-options > div > ion-item.item {
    padding-left: 32px;
  }
  &#contentMenu .simple-accordion-options .recursive-suboptions > ion-item.item,
  &#contentMenu .simple-accordion-options .recursive-suboptions ion-list.accordion-menu > ion-item.item,
  &#contentMenu ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.list > ion-item.item {
    padding-left: 52px;
  }
  &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions > ion-item.item,
  &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions ion-list.accordion-menu > ion-item.item,
  &#contentMenu ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.list > ion-item.item {
    padding-left: 72px;
  }
  &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions .recursive-suboptions > ion-item.item,
  &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions .recursive-suboptions ion-list.accordion-menu > ion-item.item,
  &#contentMenu ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.list > ion-item.item {
    padding-left: 92px;
  }
}

ion-list.accordion-menu ion-item.header ion-icon.header-icon {
  will-change: transform;
  transition: transform 0.3s ease;
}

ion-list.accordion-menu ion-item.header ion-icon.header-icon.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* The toc-items themselves should not have a bg-color, instead the whole toc-menu has a bg-color. */
ion-list.accordion-menu ion-item.item,
ion-item.mainMenuItem {
  background-color: unset;
}

ion-list.accordion-menu > ion-item.item-block:last-child .item-inner {
  border-bottom: $item-md-divider-border-bottom;
}

ion-list.accordion-menu div.options {
  will-change: height;
  transition: height 0.3s ease;
  overflow-y: hidden;
  height: 0;
}

.mainMenuItem{
  font-weight: 400;
}

ion-label > p {
  white-space: normal;
  font-size: 1rem !important;
}

ion-icon.menu-download{
  font-size: 1.5rem !important;
  color:rgba($color: #000000, $alpha: 0.3);
}

ion-list.accordion-menu{
  margin: 0px !important;
}

.shadow{
  background-color: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 3 !important;
  visibility: visible;
}

ion-nav{
  transform: none !important;
  z-index: 1 !important;
  background-color: $background-color !important;
}

#tableOfContentsMenu{
  transform: none !important;
  z-index: 7 !important;
}

.split-pane-side{
  transform: none !important;
  z-index: 7 !important;
}

.split-pane-ios.split-pane-visible > .split-pane-side{
  box-shadow: 6px 0 6px rgba(0,0,0,.1) !important;
}

/* Adjust placement of read-page/intro settings and share popovers */
.popover_settings .popover-content,
.share-popover .popover-content {
  top: 70px !important;
  left: unset !important;
  right: 12px !important;
  transform-origin: right top 0 !important;
}
.popover_settings .popover-content {
  width: min-content !important;
  min-width: 300px;
}
/* on very small screens, place popovers further right */
@media screen and (max-width: 360px) {
  .popover_settings .popover-content,
  .share-popover .popover-content {
    right: 6px !important;
  }
}

/* Set font-size for tab-container to smaller than inherited 1.4rem */
div.tab-container {
  font-size: 1rem;
}

/* Center crescent ion-spinner */
ion-spinner.loading.spinner-crescent {
	position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin: 1rem auto;
}
/* Increase size of crescent ion-spinner SVG */
ion-spinner.loading.spinner-crescent * {
  width: 32px;
  height: 32px;
}

/* This is the opacity of the darkened background around modals. */
ion-backdrop {
  opacity: 0.3 !important;
}

/* Buttons in the secondary toolbar. */
.sec-menu-button {
  color: #000;
  padding: 0;
  transition: $opacity-hover-transition;
}
.sec-menu-button:hover:not(.disable-hover) {
  background-color: transparent !important;
  opacity: $opacity-hover;
}
.sec-menu-button:active {
  opacity: 1;
}
.sec-menu-button .side-title {
  font-size: 10px;
}

/* Style for alert where a different variant, manuscript or facsimile text can be selected. */
ion-alert.select-text-alert .alert-wrapper {
  max-width: 500px;
  border-radius: $corner-roundness;

  .alert-title {
    font-size: 1.125rem;
  }

  .alert-radio-group {
    max-height: 100%;
  }

  button.alert-radio-button {
    font-size: 1.125rem;

    .alert-radio-label {
      white-space: normal;
    }
  }
}

/* Style for the component i read columns where a different variant, manuscript or facsimile text can be selected. */
.text-select-wrapper {
  padding: 0 0 1rem 0;
  margin: 0 0 1.5rem 0;
  border-bottom: 1px solid #666;
  background-color: var(--read-columns-background-color);
  display: inline-block;
  width: 100%;

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    word-wrap: break-word;
    white-space: normal;
    margin: 0 0 0.5rem 0 !important;
  }

  .flex-buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .flex-buttons button.button {
    font-size: 0.75rem;
    height: 1.875rem !important;
  }

  .flex-buttons + ion-item {
    margin-top: 0.5rem;
  }
}
.text-select-wrapper.facsimile-header {
  border-bottom: 0;
  padding-bottom: 0;
}
.text-select-wrapper.facsimile-header.external-urls-header {
  margin-bottom: 0 !important;
}

/* Styles for the popover showing sort options for the TOC in sortable TOCs */
.collectionFiltersSelectOptionsPopover .popover-content {
  overflow-y: hidden;
  background-color: #fafafa;

  ion-item {
    background-color: #fafafa;
  }
}


// Load TEI-stylesheets. Moved here from project-variables.scss
@import '../theme/tei';
@import '../theme/tei_comment';
@import '../theme/tei_variant';
@import '../theme/tei_manuscript';
@import '../theme/leaflet';





/* Intro.js core  */
.introjs-overlay {
  position: absolute;
  box-sizing: content-box;
  z-index: 999999;
  background-color: #000;
  opacity: 0;
  background: -moz-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
  background: -webkit-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -o-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -ms-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.introjs-fixParent {
  opacity: 1.0 !important;
  -webkit-transform: none !important;
     -moz-transform: none !important;
      -ms-transform: none !important;
       -o-transform: none !important;
          transform: none !important;
}

.introjs-showElement,
tr.introjs-showElement > td,
tr.introjs-showElement > th {
  z-index: 9999999 !important;
}

.introjs-disableInteraction {
  z-index: 99999999 !important;
  position: absolute;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
}

.introjs-relativePosition,
tr.introjs-showElement > td,
tr.introjs-showElement > th {
  position: relative;
}

.introjs-helperLayer {
  box-sizing: content-box;
  position: absolute;
  z-index: 9999998;
  background-color: rgba(255,255,255,.2);
  border: 1px solid #fff;
  border-radius: 4px;
/*  box-shadow: 0 2px 15px rgba(255,255,255,.4);
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;*/
}

.introjs-tooltipReferenceLayer {
  box-sizing: content-box;
  position: absolute;
  visibility: hidden;
  z-index: 100000000;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.introjs-helperLayer *,
.introjs-helperLayer *:before,
.introjs-helperLayer *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      -ms-box-sizing: content-box;
       -o-box-sizing: content-box;
          box-sizing: content-box;
}

.introjs-helperNumberLayer {
  box-sizing: content-box;
  position: absolute;
  visibility: visible;
  top: -16px;
  left: -16px;
  z-index: 9999999999 !important;
  padding: 2px;
  font-family: Arial, verdana, tahoma;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #ff3019; /* Old browsers */
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);  /* W3C */
  width: 20px;
  height:20px;
  line-height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0)"; /* IE6-9 */
  filter: "progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000)"; /* IE10 text shadows */
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.introjs-arrow {
  border: 5px solid transparent;
  content:'';
  position: absolute;
}
.introjs-arrow.top {
  top: -10px;
  border-bottom-color:white;
}
.introjs-arrow.top-right {
  top: -10px;
  right: 10px;
  border-bottom-color:white;
}
.introjs-arrow.top-middle {
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-bottom-color:white;
}
.introjs-arrow.right {
  right: -10px;
  top: 10px;
  border-left-color:white;
}
.introjs-arrow.right-bottom {
  bottom:10px;
  right: -10px;
  border-left-color:white;
}
.introjs-arrow.bottom {
  bottom: -10px;
  border-top-color:white;
}
.introjs-arrow.bottom-right {
  bottom: -10px;
  right: 10px;
  border-top-color:white;
}
.introjs-arrow.bottom-middle {
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-top-color:white;
}
.introjs-arrow.left {
  left: -10px;
  top: 10px;
  border-right-color:white;
}
.introjs-arrow.left-bottom {
  left: -10px;
  bottom:10px;
  border-right-color:white;
}

.introjs-tooltip {
  box-sizing: content-box;
  position: absolute;
  visibility: visible;
  padding: 10px;
  background-color: white;
  min-width: 200px;
  max-width: 300px;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
  -webkit-transition: opacity 0.1s ease-out;
     -moz-transition: opacity 0.1s ease-out;
      -ms-transition: opacity 0.1s ease-out;
       -o-transition: opacity 0.1s ease-out;
          transition: opacity 0.1s ease-out;
}

.introjs-tooltipbuttons {
  text-align: right;
  white-space: nowrap;
}

/*
 Buttons style by http://nicolasgallagher.com/lab/css3-github-buttons/
 Changed by Afshin Mehrabani
*/
.introjs-button {
  box-sizing: content-box;
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.3em 0.8em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font: 11px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  margin-top: 10px;
}

.introjs-button:hover {
  border-color: #bcbcbc;
  text-decoration: none;
  box-shadow: 0px 1px 1px #e3e3e3;
}

.introjs-button:focus,
.introjs-button:active {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#f4f4f4));
  background-image: -moz-linear-gradient(#ececec, #f4f4f4);
  background-image: -o-linear-gradient(#ececec, #f4f4f4);
  background-image: linear-gradient(#ececec, #f4f4f4);
}

/* overrides extra padding on button elements in Firefox */
.introjs-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.introjs-skipbutton {
  box-sizing: content-box;
  margin-right: 5px;
  color: #7a7a7a;
}

.introjs-prevbutton {
  -webkit-border-radius: 0.2em 0 0 0.2em;
  -moz-border-radius: 0.2em 0 0 0.2em;
  border-radius: 0.2em 0 0 0.2em;
  border-right: none;
}

.introjs-prevbutton.introjs-fullbutton {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}

.introjs-nextbutton {
  -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
}

.introjs-nextbutton.introjs-fullbutton {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
  color: #9a9a9a;
  border-color: #d4d4d4;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  text-decoration: none;
}

.introjs-hidden {
     display: none;
}

.introjs-bullets {
  text-align: center;
}
.introjs-bullets ul {
  box-sizing: content-box;
  clear: both;
  margin: 15px auto 0;
  padding: 0;
  display: inline-block;
}
.introjs-bullets ul li {
  box-sizing: content-box;
  list-style: none;
  float: left;
  margin: 0 2px;
}
.introjs-bullets ul li a {
  box-sizing: content-box;
  display: block;
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.introjs-bullets ul li a:hover {
  background: #999;
}
.introjs-bullets ul li a.active {
  background: #999;
}

.introjs-progress {
  box-sizing: content-box;
  overflow: hidden;
  height: 10px;
  margin: 10px 0 5px 0;
  border-radius: 4px;
  background-color: #ecf0f1
}
.introjs-progressbar {
  box-sizing: content-box;
  float: left;
  width: 0%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #08c;
}

.introjsFloatingElement {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
}

.introjs-fixedTooltip {
  position: fixed;
}

.introjs-hint {
  box-sizing: content-box;
  position: absolute;
  background: transparent;
  width: 20px;
  height: 15px;
  cursor: pointer;
}
.introjs-hint:focus {
    border: 0;
    outline: 0;
}
.introjs-hidehint {
  display: none;
}

.introjs-fixedhint {
  position: fixed;
}

.introjs-hint:hover > .introjs-hint-pulse {
  border: 5px solid rgba(60, 60, 60, 0.57);
}

.introjs-hint-pulse {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border: 5px solid rgba(60, 60, 60, 0.27);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(136, 136, 136, 0.24);
  z-index: 10;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.introjs-hint-no-anim .introjs-hint-dot {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.introjs-hint-dot {
  box-sizing: content-box;
  border: 10px solid rgba(146, 146, 146, 0.36);
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: introjspulse 3s ease-out;
  -moz-animation: introjspulse 3s ease-out;
  animation: introjspulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  opacity: 0;
}

@-webkit-keyframes introjspulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

@-moz-keyframes introjspulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@keyframes introjspulse {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}


/* Intro.js Modern theme */


.introjs-tooltip {
  background-color: rgba(000, 0, 0, 0.5);
  color: #fff;
}

.introjs-button,
.introjs-button:hover, .introjs-button:focus, .introjs-button:active,
.introjs-disabled, .introjs-disabled:focus, .introjs-disabled:hover {
  outline: none;
  background-image: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: none;
  border-shadow: none;
  text-shadow: none;
}


.introjs-button:hover, .introjs-button:focus, .introjs-button:active {
  border: 1px solid #fff
}
.introjs-disabled, .introjs-disabled:focus, .introjs-disabled:hover {
  color: #ccc;
  border: 1px solid transparent;
}

.introjs-arrow {
  border: 10px solid #fff;
}
.introjs-arrow.top, .introjs-arrow.top-middle, .introjs-arrow.top-right {
  border-color: transparent transparent rgba(000, 0, 0, 0.5);
  top: -20px;
  left: 20px;
}
.introjs-arrow.bottom, .introjs-arrow.bottom-middle, .introjs-arrow.bottom-right {
  border-color: rgba(000, 0, 0, 0.5) transparent transparent;
  bottom: -20px;
  left: 20px;
}
.introjs-arrow.left, .introjs-arrow.right {
    top: 20px;
}
.introjs-arrow.left-bottom, .introjs-arrow.right-bottom {
    bottom: 20px;
}

.introjs-arrow.left, .introjs-arrow.left-bottom {
  left: -20px;
  border-color: transparent rgba(000, 0, 0, 0.5) transparent transparent;
}
.introjs-arrow.right, .introjs-arrow.right-bottom {
  right: -20px;
  border-color: transparent transparent transparent rgba(000, 0, 0, 0.5);
}


/** Introjs custom override */
.introjs-tooltip {
  font-family: "Muli";
  background: color($colors, primary);
  .introjs-tooltiptext {
    font-size: 14px !important;
  }
}
/*.menuResizer {
  height: 100%;
  width: 5px;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  background: #e2e2e2;

  z-index: 99;

  cursor: col-resize;
}*/
