page-reference-data-modal {
	.tei{
		font-family: $font-semantic-data-model-tei;
		line-height: 2.2rem;
		font-size: 1.5rem;
	}
	.header{
		font-size: 1.5rem;
		font-weight: 400;
  }
  .urn{
    white-space: normal;
  }
}
