page-facsimile-zoom {
  .facsimile-zoom-image{
    position: relative !important;
    transform-origin: center center;
    top: 5em;
  }
  /*ion-fab{
    position: relative !important;
    margin-top: 0 !important;
    top:0 !important;
  }*/

  .custom_arrow_left {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    margin-left: -100px;
  }

  .custom_arrow_right {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    margin-right: -100px;
  }

  .scroll{
    height:100%;
    width:100%;
    position: relative;
  }

  .contents{
    text-align: center;
  }
  .top{
    height: 100%;
    display: flex;
    position: relative;
  }
  .center_content{
    text-align: center;
    display:inline-block;
  }
  .plus_minus{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
  }
  .div_img{
    position: relative;

    display:inline-block;
  }

  .arrow_right{
    float: right;
  }
  .arrow_left{
    float: left;
  }

  .facsimile_button_group {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  .facsimile_button_group ion-item{
    display:inline-block;
  }

  .facsimile_button_group div.item-inner{
    box-shadow: none !important;
    border: 0px !important;
  }

  .page_number_input input{
    color:  #464646;
    margin: 0px;
  }

  .div_close{
    z-index: 999;
    width: 40%;
  }
  .div_arrow_left{

  }
  .div_plus_minus{

  }
  .div_arrow_right{

  }
  background-color: rgba(2,2,2,0.5);

  pinch-zoom{
    min-width: 100%;
    min-height: 100%;
  }
  .mobile_pagenr{
    display: inline-block;
  }
  .mobile_pagenr ion-item{
    width: 100%;
  }
  .mobile_pagenr ion-label{
    color: white;
  }

  .facs-desc {
    display: block;
    width: 100%;
    text-align: center;
    background-color: color($colors, primary);
    padding: 10px;
    margin: 0px;
  }

  .imgbox {
    display: grid;
    height: 100%;
  }
  .facsimile-zoom-image {
    max-width: 100%;
    // 72px is the height of the toolbar
    max-height: calc(100vh - 72px);
    margin: auto;
  }

  .buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .buttons ion-item{
    display: flex;
    background-color: color($colors, secondary) !important;
  }

  .description ion-label{
    white-space: normal;
  }

  .page_nubering{
    display: flex;
    justify-content: center;
    width: 40%;
  }

  .action_buttons{
    display: flex;
    justify-content: center;
    width: 40rem;
  }
  .description {
    display: flex;
    justify-content: center;
    width: 40rem;
  }

  @media only screen and (max-width: 600px) {
    .action_buttons{
      width: 25rem;
    }
    .description {
      width: 25rem;
    }
  }

  .facsimile_button_group{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  img {
      cursor: move;
      // https://github.com/hammerjs/hammer.js/issues/1050#issuecomment-267595556
      touch-action: none;
  }
}
