ion-content > .scroll-content {
    overflow: auto;
}

ion-content ion-scroll > .scroll-content {
    overflow: hidden !important;
}

.col {
    white-space: normal !important;
    padding: 0 0 4px 0;
}

.illustration-content {
    background-color: #fff !important;
}

ion-scroll.illustration-box img {
    cursor: move;
    // https://github.com/hammerjs/hammer.js/issues/1050#issuecomment-267595556
    // Need to use !important because something is trying to override the value.
    touch-action: none !important;
}

.close-button {
    margin-right: 12.8px;
    transition: $opacity-hover-transition;
}

.close-button:hover {
    opacity: $opacity-hover;
}

.close-button:active {
    opacity: 1;
}

a {
    cursor: pointer;
}

.media-metadata p {
    font-size: 1.0625rem;
    line-height: 1.5;
}

.media-metadata .media-collection-link ion-icon {
    vertical-align: middle;
}

ion-fab[right] {
    right: 0;
    z-index: 10;
}

ion-fab[right].expand-button {
    right: 12px;
}

img.illustration-img-thumb + div {
    padding-top: 1rem;
}
