<ion-content padding>
  <ion-grid>
      <ion-row class="page-info-row">
        <h1 *ngIf="pageTitle" class="page-title">{{ pageTitle }}</h1>
        <div class="info markdown" *ngIf="mdContent">
          <markdown [data]="mdContent"></markdown>
        </div>
      </ion-row>
      <ion-row class="search-area-row">
          <ion-col col-10>
            <ion-row *ngIf="('SearchApp.infotext' | translate) !== 'SearchApp.infotext' && ('SearchApp.infotext' | translate).length>0">
                <ion-col col-12>
                  <p class="info_text">{{'SearchApp.infotext' | translate}}</p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-10>
                  <ion-searchbar placeholder="{{'SearchApp.search-holder' | translate}}" class="searchbar" [(ngModel)]="searchText" (ionChange)=onChanged($event) ></ion-searchbar>
                </ion-col>
                <ion-col col-2 *ngIf="showFilter">
                    <button (click)="openFilterModal()" ion-button><ion-icon class="filter-button" ios="ios-options" md="md-options"></ion-icon></button>
                </ion-col>
            </ion-row>

            <ion-list>
                <div *ngFor="let p of persons">
                  <ion-item *ngIf="p?.firstOfItsKind">
                    <ion-item-divider color="light">{{p.firstOfItsKind.toLocaleUpperCase()}}</ion-item-divider>
                  </ion-item>
                  <ion-item *ngIf="p?.sortBy.length > 1" (click)="openPerson(p)">
                    <p>{{p.full_name}} <span *ngIf="p.date_born || p.date_deceased" [innerHTML]="p.year_born_deceased"></span></p>
                  </ion-item>
                </div>
            </ion-list>

            <ion-row class="loadingRow" *ngIf="showLoading">
              <ion-spinner class="loading" name="crescent"></ion-spinner>
            </ion-row>

            <ion-row class="load-more-wrapper">
              <div class="loading-spinner-wrapper">
                <ion-spinner *ngIf="showLoading" class="loading" name="crescent"></ion-spinner>
              </div>
              <button *ngIf="persons.length > 0 && hasMore()" ion-button (click)="loadMore($event)" [disabled]="showLoading">{{"BasicActions.ShowMore" | translate}}</button>
            </ion-row>

            <ion-row class="hits-footer" *ngIf="persons.length > 100">
              <button ion-button outline (click)="scrollToTop()">{{"BasicActions.ScrollToTop" | translate}}</button>
            </ion-row>

          </ion-col>
          <ion-col col-2 class="alphabet">
            <button ion-fab mini (click)="showAll()"><ion-icon name="refresh"></ion-icon></button>
            <button ion-fab mini *ngFor="let letter of alphabet" class="letter" (click)="sortByLetter(letter)">{{letter}}</button>
            <button ion-fab mini (click)="showAll()"><ion-icon name="refresh"></ion-icon></button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
