page-person-search {
    /* This hides the vertical scrollbar on the right edge of the viewport area when it is not necessary to show it. Observe that there are two elements with class scroll-content, which is why this needs to be this specific. */
    ion-content > .scroll-content {
        overflow: auto;
    }

    @media(max-width: 820px) {
        ion-content.content[padding] > .scroll-content {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    @media(max-width: 600px) {
        ion-content.content[padding] > .scroll-content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    ion-content.content ion-list.list {
        ion-item.item {
            background-color: var(--index-list-item-background-color);

            ion-item-divider.item-divider {
                background-color: var(--index-list-divider-background-color);
                border-bottom: 0;

                .item-inner {
                    border-bottom: 0;
                }
            }
        }
    }

    ion-grid.grid {
        padding: 0;
    }

    ion-row.page-info-row {
        width: 100%;
        max-width: 1400px;
        flex-direction: column;
        font-size: 1.125rem;
        padding: 0 1rem;
    
        h1.page-title {
          font-size: 1.8125rem;
          text-transform: none !important;
          margin: 1rem 0 0 0;
        }
    
        .info.markdown {
          max-width: 800px;
          width: 100%;
          margin-top: 1.5rem;
          margin-bottom: 1rem;
    
          markdown > p:first-child {
            margin-top: 0;
          }
    
          markdown > p:last-child {
            margin-bottom: 0;
          }
      
          p {
            line-height: 1.5;
          }
        }
    }

    ion-row.search-area-row {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    ion-icon.settings-icon.icon {
		font-size: 1.8em;
	}

    ion-list > div {
        cursor: pointer;
    }

    .occurence {
        background-color: white;
    }

    ul {
        list-style-type: none;
    }

    .alphabet {
        margin-top: 0.5rem;
        
        button {
            margin: 0 !important;
        }
        button ion-icon.icon {
            font-size: 32px;
        }
    }

    .alphabet-list {
        position: fixed;
        top: 60px;
        right: 0;
        background: #eaeaea;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 40px;

        @media screen and (max-width: 340px) and (min-width: 310px) and (max-height: 575px) and (min-height: 560px){
            font-size: 1.0rem;
        }

        @media screen and (max-width: 370px) and (min-width: 350px) and (max-height: 650px) and (min-height: 630px){
            font-size: 1.1rem;
        }

        @media screen and (max-width: 380px) and (min-width: 370px) and (max-height: 670px) and (min-height: 660px){
            font-size: 1.2rem;
        }

        @media screen and (max-width: 412px) and (min-width: 410px) and (max-height: 830px) and (min-height: 815px){
            font-size: 1.55rem;
            padding-bottom: 80px;
        }

        @media screen and (max-width: 380px) and (min-width: 370px) and (max-height: 815px) and (min-height: 810px){
            font-size: 1.55rem;
            padding-bottom: 80px;
        }
    }

    .searchbar {
        color: white;
        max-width: 650px;
    }

    .load-more-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        button.button {
            font-size: 0.875rem;
            height: 2rem !important;
            margin-top: 0;
        }

        .loading-spinner-wrapper {
            min-height: 4rem;
        }

        ion-spinner.loading {
            padding: 1rem 0;
        }
    }

    .hits-footer {
        justify-content: center;
        align-content: center;
        align-items: center;
    
        button.button {
            font-size: 0.875rem;
            height: 2rem !important;
            margin-top: 2rem;
        }
    }

    .load-more-wrapper + .hits-footer button.button {
        margin-top: 1rem;
    }
}
