user-settings-popover-page {
	.text-button {
		text-align: center;
		background: transparent;
		margin-left: 43%;
	}

	.text-small {
		font-size: 1rem;
	}

	.text-larger {
		font-size: 1.25rem;
	}

	.text-medium {
		font-size: 1.625rem;
	}

	ion-list-header {
		font-weight: bold;
	}

	ion-icon{
		font-size: 2rem !important;
		min-height: 2rem !important;
	}
}
