page-illustrations-zoom-modal {
    padding: 50px;

    .scroll-content {
        margin-top: 50px !important;
    }
    
    .illustrations-image {
        display: flex;
        justify-content: center;
        height: 100%;
    
        img {
            object-fit: contain;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

}

.illustrations-zoom-modal {
    padding: 50px;

    .illustrations-modal-wrapper {
        height: 100%;
        width: 100%;

        ion-header {
            padding: 50px;
            padding-bottom: 0;
        }
    }

    .modal-wrapper {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}