simple-search {
    em{
        font-style: normal;
        background-color: var(--simple-search-search-match-highlight-background-color);
        color: var(--simple-search-search-match-highlight-text-color);
        padding: 1px 3px;
    }

    h2{
        text-decoration: underline;
    }

    .matchesOn h2{
        text-decoration: none;
    }

    .highLightText{
        padding-top: 0.5em;
        display: block;
        white-space: normal;
        clear: both;
        line-height: 1.5;
    }

    .matches{
        display: inline;
    }

    .matchesOn{
        display: block;
        position: absolute;
        right: 0.4em;
        bottom: 0;
        font-size: 75%;
    }

    .coll_pub{
        padding-top: 1rem;
        font-size: 0.8125rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .resultItem .data {
        width: 100%;
    }
    .resultItem .coll_pub .collection {
        color: #78756f;
        max-width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
    }
    .resultItem .coll_pub .collection + span:not([class]) {
        color: #78756f;
    }

    .title, .occupation{
        text-decoration: underline;
        white-space: normal;
    }

    .title-wrapper > .dates {
        text-decoration: none;
    }

    .textType {
        float: right;
        font-size: 0.625rem !important;
        text-transform: uppercase;
        margin-left: 8px;
        background-color: #fafafa;
        padding: 2px 4px;
        border-radius: $corner-roundness;
    }
    .textType.title,
    .textType.person,
    .textType.location {
        background-color: #1c1c1c;
    }
    .textType.title {
        color: var(--workTitle-color);
    }
    .textType.person {
        color: var(--persName-color);
    }
    .textType.location {
        color: var(--placeName-color);
    }
    .textType.tag {
        color: $tag-color;
    }
    .textType.est {
        color: $est-color;
    }
    .textType.com {
        color: $com-color;
    }
    .textType.ms {
        color: $ms-color;
    }
    .textType.inl {
        color: $inl-color;
    }
    .textType.tit {
        color: $tit-color;
    }
    .textType.var {
        color: $var-color;
    }

    .subFacets > .item{
        padding-left: 0px;
    }

    .subFacetsLabel{
        margin: 0%;
    }

    .facets > div > .item-block{
        padding-left: 0px;
    }

    .facetArrow{
        z-index: 999;
        cursor: pointer;
        text-align: right;
        font-size: 2rem !important;
    }

    .subFacetOpen{
        display: block;
    }

    .subFacetClosed{
        display: none;
    }

    .search-suggestions {
        margin-bottom: 12px;

        .item {
            .item-inner {
                border: unset;
            }

            &:not(.selected-suggestion) {
                background-color: white !important;

                &:hover {
                    background-color: #eee !important;
                }
            }

            &.selected-suggestion {
                background-color: var(--simple-search-selected-search-suggestion-background-color) !important;
            }
        }

        .scroll-content {
            background-color: white;

            ion-list {
                margin: 0;
            }
        }

        ion-list.list ion-item.searchItem:last-child {
            margin-bottom: 16px;
        }
    }

    .search-bar-page {
        padding: 0;
        min-height: unset;

        &:not(.has-suggestions) {
            padding-bottom: 5px;
        }

        &.has-suggestions .searchbar-input {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    .results {
        order: 0;

        ion-item.item {
            padding-left: 8px;
            background-color: var(--simple-search-hititem-background-color);
        }

        .searchItem:hover {
            background-color: rgba(var(--simple-search-hititem-hover-background-color-rgb), var(--simple-search-hititem-hover-background-color-alpha));
            cursor: pointer;
        }

        .searchItem ion-label.label {
            margin-right: 0;
            max-width: 100%;
        }
    }

    .results.dimmed {
        opacity: 0.4;
    }

    .facets {
        order: 0;
        background-color: rgba(178, 178, 178, 1);
        min-width: 65%;
        z-index: 99;
        height: fit-content;
        -webkit-box-shadow: 4px 4px 1px -2px rgba(0,0,0,0.45);
        -moz-box-shadow: 4px 4px 1px -2px rgba(0,0,0,0.45);
        box-shadow: 4px 4px 1px -2px rgba(0,0,0,0.45);
        position: absolute;
    }

    .facetCategories * {
        background-color: rgb(240, 240, 240);
        cursor: pointer;
    }

    .facetCategories ion-label {
        padding-left: 0.4rem;
    }

    .facetCategories ion-item {
        height: 2.2rem;
    }

    .subFacets * {
        background-color: rgb(245, 245, 245);
        cursor: pointer;
    }

    .subFacets > * {
        background-color: rgb(245, 245, 245);
        cursor: pointer;
    }

    .count {
        float: right;
    }

    .facets > ion-label {
        display: flex;
    }

    .hideFacets {
        display: none;
    }

    .toggleRow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 6px 0;
    }

    .toggleFacets {
        padding-right: 1.2rem;
        cursor: pointer;
    }

    .hitCount {
        float: right;
        white-space: nowrap;
        font-size: 1rem;
        padding-top: 8px;
    }

    .appliedFacets{
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
    }

    .appliedFacets > div{
        padding-right: 2px;
    }

    .appliedFacets ion-label{
        font-size: 0.7rem;
    }

    .appliedFacets ion-icon{
        color: black;
        background-color: transparent;
    }

    ion-chip{
        height: 1.3rem !important;
        line-height: 1.3rem !important;
    }

    ion-chip ion-icon{
        height: 1.3rem !important;
        line-height: 1.3rem !important;
        font-size: 1rem;
    }

    .facetsRight{
        right: 0;
        width: 100%;
        position: absolute;
        order: 1;
        height: 100%;
        z-index: 1;
    }
    .resultItem{
        display: flex;
    }
    .thumbnail img{
        max-width: 100px;
        max-height: 200px;
    }

    .img-help{
        top:0;
        display: none;
        position: absolute;
        height: 90%;
        width: 100px;
        margin-top: 0.9rem;
        z-index: 999;
        background-color: rgba(0,0,0,0.45);
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    .center{
        line-height: 200px !important;
    }

    .thumbnail:hover{
        max-width: 100px;
        .img-help{
            display: block;
        }
    }
    @media only screen and (max-width: 600px) {
      .img-help{
            display: block;
        }
    }
}
