comments {
  .noteLegend {
    text-indent: 0;
    margin-bottom: 0.5rem;
    font-size: 0.875em;
  }

  p.teiComment {
    /* This is a <p> containing the entire annotation. */
    &.note {
      margin-top: 1rem;
      cursor: pointer;
      padding-left: 0;
      text-indent: 0;
    }

    /*These are <span> */
    &.notePosition {
      font-weight: normal !important;
      font-size: 0.8125em;
      font-style: italic;
    }

    &.notePosition::after {
      content: " ";
    }
  
    &.noteLemma {
      font-style: italic;
    }

    &.noteLemma::after {
      content: " – ";
    }
  
    &.lemmaBreak {
      font-style: normal;
    }

    &.paragraphSpace {
      padding-bottom: 0 !important;
    }
  }

  

  /* Används till vad? */
  span:not([class]) {
    font-size: 0.85rem;
    line-height: 1.55;
    text-indent: 0;
    display: block;
    margin-top: 0.5em;
  }

  /* Det här är stilen för asteriskerna i lästexten och sådana finns inte i kommentar-kolumnen
  .tei .comment {
    font-size: 1em;
    vertical-align: initial;
  }*/

  div.ms {
    padding-top: 2rem;
  }

  .ms li {
    list-style: none;
    line-height: 1.5rem;
  }

  .ms ul {
    padding-left: 0;
  }
}

