comments {
  .notePosition {
    display: inline-block;
  }

  .noteLemma {
    display: inline;
  }

  .teiComment+p {
    display: inline;
  }

  .tei p.note {
    display: inline;
  }

  p .teiComment {
    margin-top: 1rem;
  }

  .noteLegend {
    margin-bottom: 0rem !important;
    display: block !important;
  }

  div.ms {
    padding-top: 2rem;
  }

  .ms li {
    list-style: none;
    line-height: 1.5rem;
  }

  .ms ul {
    padding-left: 0px;
  }

  .tei p.paragraphSpace {
    padding-bottom: 0em !important;
  }

  p.teiComment.note {
    text-indent: 0 !important;
  }

  .teiComment+p {
    display: block;
  }

  p.teiComment.note {
    display: block;
  }

  .tei p.note {
    display: inherit;
  }

  .tei p.paragraphSpace {
    padding-bottom: 0em !important;
  }

  span:not([class]) {
    font-size: 9pt;
    line-height: 150%;
  }

  span:not([class]) {
    font-size: 0.85rem;
    line-height: 1.55;
    text-indent: 0;
    display: block;
    margin-top: 0.5em;
  }

  .tei .comment {
    font-size: 1em;
    vertical-align: initial;
  }
}

@media (max-width: 800px) {
  .tei img.comment {
    width: 20px;
    height: 20px;
  }


}
