<ion-spinner *ngIf="textLoading" class="loading" name="crescent"></ion-spinner>
<div class="tei" [MathJax]="text" [innerHTML]="text"
  [class.show_comments]="readPopoverService.show.comments"
  [class.show_personInfo]="readPopoverService.show.personInfo"
  [class.show_placeInfo]="readPopoverService.show.placeInfo"
  [class.show_workInfo]="readPopoverService.show.workInfo"
  [class.show_changes]="readPopoverService.show.changes"
  [class.show_normalisations]="readPopoverService.show.normalisations"
  [class.show_abbreviations]="readPopoverService.show.abbreviations"
  [class.show_pageNumbering]="readPopoverService.show.pageNumbering"
  [class.show_pageBreakOriginal]="readPopoverService.show.pageBreakOriginal"
  [class.show_pageBreakEdition]="readPopoverService.show.pageBreakEdition"
  [class.clickable-illustrations]="illustrationsVisibleInReadtext && illustrationsViewAvailable && !userSettingsService.isMobile()"
  [ngClass]="(readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize'"
>
</div>
