read-text {
      img.hide-illustration {
        visibility: hidden;
        height: 10px;
      & ~ p.tei:first-of-type::after {
          content: '';
          cursor: pointer;
          background-image: url('/assets/images/img_placeholder.png');
          height: 18px;
          width: 20px;
          margin-left: 5px;
          margin-bottom: -3px;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
        }
    }

    a.xreference.ref_illustration {
        img {
            max-width: 12px;
            display: inline-block;
            margin-left: 10px;
        }
    }
    match {
        background-color: rgba( yellow, 0.4 ) !important;
    }

    .toolTip {
        z-index: 1000;
        position: absolute;
        background: #88b7d5;
        border: 1px solid #c2e1f5;
        box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
        padding-left: 4px;
        padding-right: 4px;
        white-space: normal;
    }
    .toolTip:after, .toolTip:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .toolTip:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #88b7d5;
        border-width: 4px;
        margin-top: -4px;
    }
    .toolTip:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #c2e1f5;
        border-width: 5px;
        margin-top: -5px;
    }

    .tei.XMLcomment{
        display: none;
    }

    img.inl_ms_arrow{
        width: 0.75em;
        height: 0.75em;
    }

    .inl_ms_arrow{
        display: inline !important;
    }

    img.doodle{
      width: 0.7rem;
      display: inline;
    }
}
