read-text {
      img.hide-illustration {
        visibility: hidden;
        height: 10px;
      & ~ p.tei:first-of-type::after {
          content: '';
          cursor: pointer;
          background-image: url('/assets/images/img_placeholder.png');
          height: 18px;
          width: 20px;
          margin-left: 5px;
          margin-bottom: -3px;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
        }
    }

    a.xreference.ref_illustration {
        img {
            max-width: 12px;
            display: inline-block;
            margin-left: 10px;
        }
    }
    /* Highlight for search match. */
    match {
        background-color: #a5d7a5 !important;
    }

    .tei.XMLcomment{
        display: none;
    }

    /* Det här är piktogram-bilder i lästexten. */
    img.doodle{
      width: 0.7rem;
      display: inline;
    }
}
