<ion-content *ngIf="hasDigitalEditionListChildren" padding>
  <div class="">
    <digital-edition-list-children [layoutType]="'auto'" [childrenPdfs]="childrenPdfs" [collectionID]="collectionID"></digital-edition-list-children>
  </div>
</ion-content>

<ion-content *ngIf="!hasDigitalEditionListChildren && !hasMDCover" padding>
  <ion-card>
    <ion-card-content>
      <ion-scroll scrollY="true" style="height:80vh;" class="card">
        <div class="tei teiContainer" [innerHTML]="text"></div>
      </ion-scroll>
    </ion-card-content>
  </ion-card>
</ion-content>

<div *ngIf="!hasDigitalEditionListChildren && hasMDCover" class="cover-image-wrapper">
  <img class="cover-image" [src]="image_src" [alt]="image_alt">
</div>
