page-cover {
  .card-content {
      height: 100% !important;
  }

  .scroll-content {
      overflow: hidden;
      margin-bottom: 1rem;
  }

  ion-scroll {
      height: 100% !important;
      padding: 0 !important;
  }

  ion-card {
      height: 100% !important;
      padding: 0 !important;
      background-color: var(--read-columns-background-color) !important;
  }
}
