<!--
  Generated template for the IllustrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar *ngIf="showDescription">
      <ion-buttons end>
          <button (click)="cancel()" ion-button>
            <ion-icon class="close-button" ios="ios-close" md="md-close"></ion-icon>
          </button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="illustration-content">
    <ion-fab right *ngIf="zoomImage" class="close-modal-button">
        <button ion-fab mini (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab *ngIf="showDescription" middle right>
      <button ion-fab (click)="zoomImg()"><ion-icon name="search"></ion-icon></button>
    </ion-fab>
    <ion-scroll class="illustration-box" scrollX="true" scrollY="true" zoom="true" style="height:100%; width:100%; position: relative;">
      <img alt="illustration" *ngIf="showDescription" [src]="imgPath">
      <img alt="illustration" [style.zoom]="zoom" *ngIf="zoomImage" class="illustration-img" [src]="imgPath">
      <div *ngIf="showDescription">
        <p><b>{{imgMetadata['full_name']}}, <i>{{imgMetadata['media_title_translation']}}</i></b></p>
        <p>{{imgMetadata['media_art_technique_translation']}}</p>
        <p>{{imgMetadata['media_collection_title_translation']}}</p>
        <p>{{imgMetadata['art_location']}}</p>
        <div>
          <a (click)="goToMediaCollection()">
            <ion-icon name="book"></ion-icon> {{ "MediaCollections.GotoMediaCollection" | translate }}
          </a>
        </div>
      </div>
    </ion-scroll>
    <ion-fab *ngIf="zoomImage && userSettingsService.isDesktop()" class="zoom-buttons" bottom right>
      <button ion-fab color="secondary" mini (click)="zoomIn()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab color="secondary" mini (click)="zoomOut()"><ion-icon name="remove"></ion-icon></button>
    </ion-fab>
</ion-content>
