page-illustration {
    ion-content > .scroll-content {
        overflow: auto;
    }

    .col {
        white-space: normal !important;
        padding: 0 0 4px 0;
    }

    .illustration-content {
        background-color: #fff !important;
    }

    .illustration-box > ion-card-content {
        padding-top: 0;
    }

    .close-button {
        margin-right: 12.8px;
        transition: $opacity-hover-transition;
    }

    .close-button:hover {
        opacity: $opacity-hover;
    }

    .close-button:active {
		opacity: 1;
	}

    p {
      line-height: 1rem;
    }

    a {
        cursor: pointer;
    }
}
