page-illustration {
    .illustration-content {
        background-color: white !important;
    }

    .close-button {
        font-size: 5.2rem;
        margin-right: 1.2rem;
    }

    /*img.illustration-img {
        max-width: inherit;
    }*/
}
