<!--
  Generated template for the IllustrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar *ngIf="showDescription">
    <ion-buttons end>
      <button class="close-button" (click)="cancel()" ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="illustration-content">
    <ion-fab right *ngIf="zoomImage" class="close-modal-button">
        <button ion-fab mini (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab *ngIf="showDescription" class="expand-button" middle right>
      <button ion-fab mini (click)="zoomImg()">
        <ion-icon name="expand"></ion-icon>
      </button>
    </ion-fab>
    <ion-col *ngIf="showDescription">
      <ion-card class="illustration-box">
        <ion-card-content>
          <img class="illustration-img-thumb" alt="illustration" [src]="imgPath">
          <div>
            <p><b>{{imgMetadata['full_name']}}, <i>{{imgMetadata['media_title_translation']}}</i></b></p>
            <p>{{imgMetadata['media_art_technique_translation']}}</p>
            <p>{{imgMetadata['media_collection_title_translation']}}</p>
            <p>{{imgMetadata['art_location']}}</p>
            <p>
              <a (click)="goToMediaCollection()">
                <ion-icon name="photos"></ion-icon> {{ "MediaCollections.GotoMediaCollection" | translate }}
              </a>
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-scroll *ngIf="zoomImage" class="illustration-box" scrollX="true" scrollY="true" zoom="true" style="height:100%; width:100%; position: relative;">
      <img alt="illustration" [style.zoom]="zoom" class="illustration-img" [src]="imgPath">
    </ion-scroll>
    <ion-fab *ngIf="zoomImage && userSettingsService.isDesktop()" class="zoom-buttons" right middle>
      <button ion-fab color="secondary" mini (click)="zoomIn()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab color="secondary" mini (click)="zoomOut()">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
