<ion-content padding>
  <ion-grid>
    <ion-row class="page-info-row">
      <h1 class="page-title">{{ 'TOC.WorkSearch' | translate }}</h1>
      <div class="info markdown" *ngIf="mdContent">
        <markdown [data]="mdContent"></markdown>
      </div>
    </ion-row>
    <ion-row class="search-area-row">
      <ion-col col-10>
        <ion-row *ngIf="('SearchApp.infotext' | translate) !== 'SearchApp.infotext' && ('SearchApp.infotext' | translate).length>0">
            <ion-col col-12>
              <p class="info_text">{{'SearchApp.infotext' | translate}}</p>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-11>
            <ion-searchbar placeholder="{{'SearchApp.search-holder' | translate}}" class="searchbar" [(ngModel)]="searchText" (ionChange)=onChanged($event)>
            </ion-searchbar>
          </ion-col>
          <ion-col col-1 *ngIf="showFilter">
            <button (click)="openFilterModal()" ion-button>
              <ion-icon class="filter-button" ios="ios-options" md="md-options"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

        <ion-list>
          <div *ngFor="let w of works">
            <ion-item *ngIf="w?.firstOfItsKind">
              <ion-item-divider color="light">{{w.firstOfItsKind}}</ion-item-divider>
            </ion-item>
            <ion-item *ngIf="w['title'].length > 1" (click)="openWork(w)">
                <span *ngFor="let author of w.author_data; let i = index;" class="author">{{(author['last_name'] != '')?author['last_name'].trim():''}}<span *ngIf="author['first_name'].length>0">, </span>{{(author['first_name'] != '')?author['first_name'].trim():''}}{{(i < (w.author_data.length-1))?', ': ''}}</span><span *ngIf="w.author_data.length>0">, </span><span class="work_title">{{w['title']}}</span>
            </ion-item>
          </div>
        </ion-list>

        <ion-row class="loadingRow" *ngIf="showLoading">
          <ion-spinner class="loading" name="crescent"></ion-spinner>
        </ion-row>

        <ion-infinite-scroll *ngIf="!searchText" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
