<ion-list>
  <ion-item-group>
    <ion-item-divider color="secondary">
      {{'Reference.title' | translate }}
      <div class="close" (click)="dismiss()"><ion-icon name="close"></ion-icon></div>
    </ion-item-divider>
    <ion-item (click)="shareURI()">
      <ion-icon item-start name="ios-link"></ion-icon>
      <p>{{'Reference.urn' | translate }}</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="secondary">{{'Reference.share' | translate }}</ion-item-divider>
    <ion-item *ngIf="showSocial.email" (click)="shareEmail()">
      <ion-icon item-start name="mail"></ion-icon>
      <p>{{'Reference.mail' | translate }}</p>
    </ion-item>
    <ion-item *ngIf="showSocial.facebook" (click)="shareFacebook()">
      <ion-icon item-start name="logo-facebook"></ion-icon>
      <p>Facebook</p>
    </ion-item>
    <ion-item *ngIf="showSocial.twitter" (click)="shareTwitter()">
      <ion-icon item-start name="logo-twitter"></ion-icon>
      <p>Twitter</p>
    </ion-item>
    <ion-item *ngIf="showSocial.instagram" (click)="shareInstagram()">
      <ion-icon item-start name="logo-instagram"></ion-icon>
      <p>Instagram</p>
    </ion-item>
  </ion-item-group>
</ion-list>
