page-share-popover {
  ion-list {
    margin: 0 !important;
  }

  ion-item-divider.item-divider-md-light {
    background-color: color($colors, secondary);
  }

  ion-label {
    overflow: visible;
  }

  ion-item {
    cursor: pointer;

    ion-icon {
      display: flex;
      align-items: center;
      font-size: 1em !important;
    }

    p {
      font-weight: 700;
    }
  }
  .close{
    font-size: 1rem;
    float: right;
	}
}
