date-histogram {
  .reset-buttons {
    height: 32px;
    ion-icon {
      font-size: 1.5em;
    }
  }

  .years {
    position: relative;
    margin: 20px 0 0 50px;
    cursor: crosshair;
  }

  .year {
    position: relative;
    height: 3px;
  }
  .yearIsDecade {
    height: 4px;
    border-bottom: 1px solid #aaaaaa;
  }
  .yearBar {
    position: relative;
    height: 100%;
    width: 0;
    background-color: #538393;
  }
  .yearDetails {
    display: none;
    position: absolute;
    right: 0;
    top: -20px;
    padding: 2px;
    font-size: 12px !important;
    color: color($colors, grey);
    background-color: rgba(255,255,255,0.5);
  }

  .year:hover {
    background-color: color($colors, secondary);
  }
  .year:hover > .yearBar, .yearBarInRange {
    background-color: color($colors, location);
  }
  .year:hover .yearDetails {
    display: block;
  }

  .decadeMarker {
    position: relative;
    height: 0px;
  }

  .decade {
    position: absolute;
    left: -55px;
    top: -7px;
    width: 50px;
    font-size: 12px !important;
    color: color($colors, grey);
    text-align: right;
  }
}
