
<ion-grid>
  <ion-row class="year-input-row" align-items-end>
    <ion-col class="year-input-col">
      <ion-item class="year-input">
        <ion-label floating>{{'ElasticSearch.From' | translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="from" (keydown.enter)="onChange()"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col class="year-input-col-dash">
      <ion-item>–</ion-item>
    </ion-col>
    <ion-col class="year-input-col">
      <ion-item class="year-input">
        <ion-label floating>{{'ElasticSearch.To' | translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="to" (keydown.enter)="onChange()"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-auto>
      <div class="reset-buttons">
          <ion-icon name="refresh" (click)="onChange()" padding-right padding-bottom></ion-icon>
          <ion-icon name="close" (click)="reset()" padding-bottom></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="years">
  <div *ngFor="let year of years">
    <div class="year" [ngClass]="{'yearIsDecade': isDecade(year)}" (click)="selectYear(year)" >
      <div class="yearBar" [ngClass]="{'yearBarInRange': isYearInRange(year)}" [style.width]="getYearRelativeToMax(year)"></div>
      <div class="yearDetails">{{year.doc_count}} : {{year.key_as_string}}</div>
    </div>
    <div class="decadeMarker" *ngIf="isDecade(year)">
      <div class="decade">{{year.key_as_string}}</div>
    </div>
  </div>
</div>
