variations {
    .tab-container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 90%;
        background: $read-columns-background-color;
        align-items: flex-end;
        position: relative;
        cursor: pointer;
        margin-bottom: 1rem;
        top: -1.2rem;
        background-color: transparent;
    }

    .tab{
        color: #c9c9c9;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0.5rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        align-self: flex-end;
        background-color: $read-columns-background-color;
        border-bottom: 1px solid black;
    }


    .first-tab{
        white-space: nowrap;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        background-color: $read-columns-background-color;
        border-bottom: 1px solid red;
        color: black;
    }

    .open-in-tab-hidden{
        display: none;
        position: absolute;
        margin-top: 0.3rem;
        font-weight: 100;
        font-size: 0.8rem !important;
    }

    .tab-container > div:hover .open-in-tab-hidden{
        display: block;
    }

    .tab-container > div:hover{
        white-space: nowrap;
        overflow: initial;
        text-overflow: unset;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        background-color: $read-columns-background-color;
        border-bottom: 1px solid red;
        color: black;
    }

    .open-in-tab{
        display: none;
    }
}
